body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-78px;
  width:1228px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:933px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23358 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:99px;
  width:1228px;
  height:933px;
  display:flex;
}
#u23358 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23359 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:49px;
  width:1228px;
  height:50px;
  display:flex;
}
#u23359 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23360 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:65px;
  width:780px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23361 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23361 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23361_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23361.mouseOver {
}
#u23361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23362 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:179px;
  width:653px;
  height:104px;
  display:flex;
}
#u23362 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23363 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:305px;
  width:653px;
  height:88px;
  display:flex;
}
#u23363 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:40px;
}
#u23364 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:443px;
  width:605px;
  height:200px;
  display:flex;
  line-height:40px;
}
#u23364 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23365 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:610px;
  width:80px;
  height:24px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23365 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23365_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23365.mouseDown {
}
#u23365_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23365.selected {
}
#u23365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23366 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:187px;
  width:95px;
  height:44px;
  display:flex;
}
#u23366 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u23366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23367 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:339px;
  width:95px;
  height:35px;
  display:flex;
}
#u23367 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u23367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23368 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:388px;
  width:95px;
  height:35px;
  display:flex;
}
#u23368 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u23368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23369 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:483px;
  width:183px;
  height:35px;
  display:flex;
}
#u23369 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u23369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23370 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:548px;
  width:75px;
  height:35px;
  display:flex;
}
#u23370 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u23370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23371 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:548px;
  width:75px;
  height:35px;
  display:flex;
}
#u23371 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u23371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23372 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:566px;
  width:126px;
  height:35px;
  display:flex;
}
#u23372 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u23372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u23373 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:296px;
  width:323px;
  height:35px;
  display:flex;
}
#u23373 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u23373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
