body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-78px;
  width:1228px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:933px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19340 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:99px;
  width:1228px;
  height:933px;
  display:flex;
}
#u19340 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19341 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:49px;
  width:1228px;
  height:50px;
  display:flex;
}
#u19341 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u19342 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:65px;
  width:780px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u19342 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u19343 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u19343 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19343_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u19343.mouseOver {
}
#u19343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19344 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:179px;
  width:653px;
  height:104px;
  display:flex;
}
#u19344 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19345 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:305px;
  width:653px;
  height:88px;
  display:flex;
}
#u19345 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:40px;
}
#u19346 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:443px;
  width:605px;
  height:200px;
  display:flex;
  line-height:40px;
}
#u19346 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u19347 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:610px;
  width:80px;
  height:24px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u19347 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19347_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u19347.mouseDown {
}
#u19347_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u19347.selected {
}
#u19347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19348 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:187px;
  width:95px;
  height:44px;
  display:flex;
}
#u19348 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19349 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:339px;
  width:95px;
  height:35px;
  display:flex;
}
#u19349 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19350 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:388px;
  width:95px;
  height:35px;
  display:flex;
}
#u19350 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19351 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:483px;
  width:183px;
  height:35px;
  display:flex;
}
#u19351 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19352 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:548px;
  width:75px;
  height:35px;
  display:flex;
}
#u19352 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19353 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:548px;
  width:75px;
  height:35px;
  display:flex;
}
#u19353 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19354 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:566px;
  width:126px;
  height:35px;
  display:flex;
}
#u19354 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19355 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:296px;
  width:323px;
  height:35px;
  display:flex;
}
#u19355 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
