body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1482px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:602px;
}
#u9521 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:45px;
  width:1300px;
  height:602px;
  display:flex;
}
#u9521 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u9522 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:232px;
  width:42px;
  height:18px;
  display:flex;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u9522 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9522_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u9522.mouseOver {
}
#u9522_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u9522.mouseDown {
}
#u9522_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u9522.disabled {
  opacity:0.7;
}
#u9522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u9523 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:259px;
  width:42px;
  height:18px;
  display:flex;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u9523 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9523_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u9523.mouseOver {
}
#u9523_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u9523.mouseDown {
}
#u9523_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:20px;
}
#u9523.disabled {
  opacity:0.7;
}
#u9523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u9524 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:171px;
  width:150px;
  height:107px;
  display:flex;
}
#u9524 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
