body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1501px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:714px;
}
#u8135 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:15px;
  width:1501px;
  height:714px;
  display:flex;
}
#u8135 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:547px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#D9001B;
}
#u8136 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:118px;
  width:826px;
  height:547px;
  display:flex;
  font-size:48px;
  color:#D9001B;
}
#u8136 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8137 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:677px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u8137 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
