body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-71px;
  width:1518px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:867px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:49px;
  width:1187px;
  height:867px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:812px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:49px;
  width:657px;
  height:812px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:774px;
  width:1187px;
  height:142px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:490px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:187px;
  width:318px;
  height:490px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:748px;
  width:653px;
  height:142px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:71px;
  background:inherit;
  background-color:rgba(248, 246, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:774px;
  width:1172px;
  height:71px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:46px;
  background:-webkit-linear-gradient(359.548129277968deg, rgba(235, 241, 246, 1) 2%, rgba(227, 233, 241, 1) 100%);
  background:-moz-linear-gradient(90.4518707220317deg, rgba(235, 241, 246, 1) 2%, rgba(227, 233, 241, 1) 100%);
  background:linear-gradient(90.4518707220317deg, rgba(235, 241, 246, 1) 2%, rgba(227, 233, 241, 1) 100%);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:787px;
  width:484px;
  height:46px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7 label {
  left:0px;
  width:100%;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  height:12px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:801px;
  width:480px;
  height:19px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u7_img.selected {
}
#u7.selected {
}
#u7_img.disabled {
}
#u7.disabled {
}
#u7_img.selectedDisabled {
}
#u7.selectedDisabled {
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:468px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:788px;
  width:139px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8.mouseOver {
  opacity:0.8;
}
#u8_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8.mouseDown {
  opacity:1;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:64px;
  width:515px;
  height:684px;
}
#u9_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:684px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:212px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:477px;
  height:212px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:129px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:10px;
  width:400px;
  height:129px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:57px;
  width:165px;
  height:28px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:944px;
  background:inherit;
  background-color:rgba(248, 246, 251, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:244px;
  width:477px;
  height:944px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:687px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:244px;
  width:450px;
  height:687px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:269px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:919px;
  width:430px;
  height:269px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(240, 244, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:764px;
  width:79px;
  height:20px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:28px;
  background:inherit;
  background-color:rgba(248, 247, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:271px;
  width:165px;
  height:28px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:92px;
  width:372px;
  height:45px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:92px;
  width:138px;
  height:28px;
  display:flex;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:28px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:123px;
  width:313px;
  height:28px;
  display:flex;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:22px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:95px;
  width:284px;
  height:22px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#E54545;
  text-align:left;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:126px;
  width:93px;
  height:22px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#E54545;
  text-align:left;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:126px;
  width:103px;
  height:22px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#E54545;
  text-align:left;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:22px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:159px;
  width:205px;
  height:22px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#E54545;
  text-align:left;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:190px;
  width:117px;
  height:17px;
  display:flex;
  font-size:13px;
}
#u25 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:162px;
  width:224px;
  height:17px;
  display:flex;
  font-size:13px;
}
#u26 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:49px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
