body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1498px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1498px;
  height:709px;
}
#u8171 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:52px;
  width:1498px;
  height:709px;
  display:flex;
}
#u8171 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#D9001B;
}
#u8172 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:513px;
  width:185px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#D9001B;
}
#u8172 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8173_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:41px;
  height:5px;
}
#u8173 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:470px;
  width:38px;
  height:2px;
  display:flex;
}
#u8173 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u8174 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:461px;
  width:86px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u8174 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8175 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:715px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u8175 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
