body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1498px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1498px;
  height:709px;
}
#u5594 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:52px;
  width:1498px;
  height:709px;
  display:flex;
}
#u5594 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#D9001B;
}
#u5595 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:513px;
  width:185px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#D9001B;
}
#u5595 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5596_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:41px;
  height:5px;
}
#u5596 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:470px;
  width:38px;
  height:2px;
  display:flex;
}
#u5596 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5597 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:461px;
  width:86px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5598 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:715px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u5598 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
