body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1504px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:716px;
}
#u8965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:716px;
  display:flex;
}
#u8965 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8966 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:668px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u8966 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:267px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#D9001B;
}
#u8967 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:273px;
  width:911px;
  height:267px;
  display:flex;
  font-size:72px;
  color:#D9001B;
}
#u8967 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
