body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:464px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:640px;
}
#u3627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:640px;
  display:flex;
}
#u3627 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3628 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:596px;
  width:84px;
  height:24px;
  display:flex;
  font-size:10px;
}
#u3628 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3629 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:225px;
  width:279px;
  height:139px;
  display:flex;
}
#u3629 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3630_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:225px;
  height:9px;
}
#u3630 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:302px;
  width:220px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.0531297857676652deg);
  -moz-transform:rotate(0.0531297857676652deg);
  -ms-transform:rotate(0.0531297857676652deg);
  transform:rotate(0.0531297857676652deg);
}
#u3630 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3631 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:62px;
  width:150px;
  height:150px;
  display:flex;
}
#u3631 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
