body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1816px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:477px;
}
#u5938 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:7px;
  width:991px;
  height:477px;
  display:flex;
}
#u5938 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5939 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:143px;
  width:318px;
  height:249px;
  display:flex;
}
#u5939 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:481px;
}
#u5940 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:403px;
  width:970px;
  height:481px;
  display:flex;
}
#u5940 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5941 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:424px;
  width:318px;
  height:195px;
  display:flex;
}
#u5941 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:482px;
}
#u5942 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:7px;
  width:976px;
  height:482px;
  display:flex;
}
#u5942 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:419px;
}
#u5943 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:465px;
  width:562px;
  height:419px;
  display:flex;
}
#u5943 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5944 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:306px;
  width:318px;
  height:195px;
  display:flex;
}
#u5944 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
