body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1816px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:477px;
}
#u4999 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:7px;
  width:991px;
  height:477px;
  display:flex;
}
#u4999 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5000 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:143px;
  width:318px;
  height:249px;
  display:flex;
}
#u5000 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:481px;
}
#u5001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:403px;
  width:970px;
  height:481px;
  display:flex;
}
#u5001 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5002 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:424px;
  width:318px;
  height:195px;
  display:flex;
}
#u5002 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:482px;
}
#u5003 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:7px;
  width:976px;
  height:482px;
  display:flex;
}
#u5003 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:419px;
}
#u5004 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:465px;
  width:562px;
  height:419px;
  display:flex;
}
#u5004 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5005 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:306px;
  width:318px;
  height:195px;
  display:flex;
}
#u5005 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
