body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1816px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:477px;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:7px;
  width:991px;
  height:477px;
  display:flex;
}
#u1934 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1935 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:143px;
  width:318px;
  height:249px;
  display:flex;
}
#u1935 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:481px;
}
#u1936 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:403px;
  width:970px;
  height:481px;
  display:flex;
}
#u1936 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1937 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:424px;
  width:318px;
  height:195px;
  display:flex;
}
#u1937 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:482px;
}
#u1938 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:7px;
  width:976px;
  height:482px;
  display:flex;
}
#u1938 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:419px;
}
#u1939 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:465px;
  width:562px;
  height:419px;
  display:flex;
}
#u1939 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1940 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:306px;
  width:318px;
  height:195px;
  display:flex;
}
#u1940 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
