body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1816px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:477px;
}
#u3361 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:7px;
  width:991px;
  height:477px;
  display:flex;
}
#u3361 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3362 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:143px;
  width:318px;
  height:249px;
  display:flex;
}
#u3362 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:481px;
}
#u3363 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:403px;
  width:970px;
  height:481px;
  display:flex;
}
#u3363 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3364 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:424px;
  width:318px;
  height:195px;
  display:flex;
}
#u3364 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:482px;
}
#u3365 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:7px;
  width:976px;
  height:482px;
  display:flex;
}
#u3365 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:419px;
}
#u3366 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:465px;
  width:562px;
  height:419px;
  display:flex;
}
#u3366 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3367 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:306px;
  width:318px;
  height:195px;
  display:flex;
}
#u3367 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
