body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1816px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:477px;
}
#u6464 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:7px;
  width:991px;
  height:477px;
  display:flex;
}
#u6464 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6465 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:143px;
  width:318px;
  height:249px;
  display:flex;
}
#u6465 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:481px;
}
#u6466 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:403px;
  width:970px;
  height:481px;
  display:flex;
}
#u6466 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6467 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:424px;
  width:318px;
  height:195px;
  display:flex;
}
#u6467 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:482px;
}
#u6468 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:7px;
  width:976px;
  height:482px;
  display:flex;
}
#u6468 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:419px;
}
#u6469 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:465px;
  width:562px;
  height:419px;
  display:flex;
}
#u6469 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6470 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:306px;
  width:318px;
  height:195px;
  display:flex;
}
#u6470 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
