body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1652px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:714px;
}
#u8080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:714px;
  display:flex;
}
#u8080 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8081 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:664px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u8081 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8082_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:9px;
}
#u8082 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:338px;
  width:56px;
  height:4px;
  display:flex;
}
#u8082 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8083_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u8083 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:397px;
  width:305px;
  height:4px;
  display:flex;
}
#u8083 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8084_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u8084 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:448px;
  width:305px;
  height:4px;
  display:flex;
}
#u8084 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8085 {
  border-width:0px;
  position:absolute;
  left:1502px;
  top:50px;
  width:150px;
  height:150px;
  display:flex;
}
#u8085 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8086 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:125px;
  width:150px;
  height:150px;
  display:flex;
  opacity:0.1;
}
#u8086 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
