body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1652px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:714px;
}
#u7141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:714px;
  display:flex;
}
#u7141 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7142 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:664px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u7142 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7143_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:9px;
}
#u7143 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:338px;
  width:56px;
  height:4px;
  display:flex;
}
#u7143 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7144_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u7144 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:397px;
  width:305px;
  height:4px;
  display:flex;
}
#u7144 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7145_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u7145 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:448px;
  width:305px;
  height:4px;
  display:flex;
}
#u7145 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7146 {
  border-width:0px;
  position:absolute;
  left:1502px;
  top:50px;
  width:150px;
  height:150px;
  display:flex;
}
#u7146 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7147 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:125px;
  width:150px;
  height:150px;
  display:flex;
  opacity:0.1;
}
#u7147 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
