body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1652px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:714px;
}
#u7692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:714px;
  display:flex;
}
#u7692 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7693 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:664px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u7693 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7694_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:9px;
}
#u7694 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:338px;
  width:56px;
  height:4px;
  display:flex;
}
#u7694 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7695_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u7695 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:397px;
  width:305px;
  height:4px;
  display:flex;
}
#u7695 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7696_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u7696 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:448px;
  width:305px;
  height:4px;
  display:flex;
}
#u7696 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7697 {
  border-width:0px;
  position:absolute;
  left:1502px;
  top:50px;
  width:150px;
  height:150px;
  display:flex;
}
#u7697 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7698 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:125px;
  width:150px;
  height:150px;
  display:flex;
  opacity:0.1;
}
#u7698 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
