body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-158px;
  width:436px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:494px;
}
#u18352 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:122px;
  width:436px;
  height:494px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u18352 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 61.939567951873px 10px;
  box-sizing:border-box;
  width:100%;
}
#u18352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:385px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u18353 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:203px;
  width:396px;
  height:385px;
  display:flex;
  text-align:left;
}
#u18353 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 15px 10px 15px;
  box-sizing:border-box;
  width:100%;
}
#u18353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
