body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-70px;
  width:1861px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:863px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23145 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:302px;
  width:1861px;
  height:863px;
  display:flex;
}
#u23145 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23146 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:302px;
  width:1861px;
  height:71px;
  display:flex;
}
#u23146 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23148 {
  border-width:0px;
  position:absolute;
  left:1810px;
  top:314px;
  width:98px;
  height:19px;
  display:flex;
}
#u23148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23148_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23149 {
  border-width:0px;
  position:absolute;
  left:1808px;
  top:340px;
  width:56px;
  height:19px;
  display:flex;
}
#u23149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23150 {
  border-width:0px;
  position:absolute;
  left:1882px;
  top:340px;
  width:28px;
  height:19px;
  display:flex;
}
#u23150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23150_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:44px;
}
#u23151 {
  border-width:0px;
  position:absolute;
  left:1797px;
  top:314px;
  width:1px;
  height:43px;
  display:flex;
}
#u23151 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.627450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23152 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:383px;
  width:1663px;
  height:30px;
  display:flex;
}
#u23152 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23153 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:390px;
  width:393px;
  height:19px;
  display:flex;
}
#u23153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:793px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23154 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:372px;
  width:167px;
  height:793px;
  display:flex;
}
#u23154 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u23156 {
  border-width:0px;
  position:absolute;
  left:1711px;
  top:309px;
  width:47px;
  height:35px;
  display:flex;
}
#u23156 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u23157 {
  border-width:0px;
  position:absolute;
  left:1707px;
  top:349px;
  width:56px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u23157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23157_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u23158 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:327px;
  width:288px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u23158 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23158_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u23159 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:413px;
  width:70px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u23159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23159_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:724px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23160 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:423px;
  width:1663px;
  height:724px;
  display:flex;
}
#u23160 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u23162 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:469px;
  width:1412px;
  height:209px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u23162 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 0px 3px 20px;
  box-sizing:border-box;
  width:100%;
}
#u23162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u23163 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:695px;
  width:80px;
  height:35px;
  display:flex;
  color:#999999;
}
#u23163 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23163_img.mouseOver {
}
#u23163.mouseOver {
}
#u23163_img.mouseDown {
}
#u23163.mouseDown {
}
#u23163_img.disabled {
}
#u23163.disabled {
  opacity:0.7;
}
#u23163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u23164 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:695px;
  width:80px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  line-height:20px;
}
#u23164 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23164_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u23164.mouseOver {
}
#u23164_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u23164.mouseDown {
}
#u23164_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u23164.disabled {
  opacity:0.7;
}
#u23164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u23165 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:440px;
  width:56px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u23165 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23165_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u23166 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:477px;
  width:84px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u23166 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23166_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
