body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-70px;
  width:1861px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:863px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19127 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:302px;
  width:1861px;
  height:863px;
  display:flex;
}
#u19127 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19128 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:302px;
  width:1861px;
  height:71px;
  display:flex;
}
#u19128 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19130 {
  border-width:0px;
  position:absolute;
  left:1810px;
  top:314px;
  width:98px;
  height:19px;
  display:flex;
}
#u19130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19130_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19131 {
  border-width:0px;
  position:absolute;
  left:1808px;
  top:340px;
  width:56px;
  height:19px;
  display:flex;
}
#u19131 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19131_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19132 {
  border-width:0px;
  position:absolute;
  left:1882px;
  top:340px;
  width:28px;
  height:19px;
  display:flex;
}
#u19132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19132_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:44px;
}
#u19133 {
  border-width:0px;
  position:absolute;
  left:1797px;
  top:314px;
  width:1px;
  height:43px;
  display:flex;
}
#u19133 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.627450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19134 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:383px;
  width:1663px;
  height:30px;
  display:flex;
}
#u19134 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19135 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:390px;
  width:393px;
  height:19px;
  display:flex;
}
#u19135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:793px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19136 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:372px;
  width:167px;
  height:793px;
  display:flex;
}
#u19136 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u19138 {
  border-width:0px;
  position:absolute;
  left:1711px;
  top:309px;
  width:47px;
  height:35px;
  display:flex;
}
#u19138 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u19139 {
  border-width:0px;
  position:absolute;
  left:1707px;
  top:349px;
  width:56px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u19139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u19140 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:327px;
  width:288px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u19140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u19141 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:413px;
  width:70px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u19141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:724px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19142 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:423px;
  width:1663px;
  height:724px;
  display:flex;
}
#u19142 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u19144 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:469px;
  width:1412px;
  height:209px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u19144 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 0px 3px 20px;
  box-sizing:border-box;
  width:100%;
}
#u19144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u19145 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:695px;
  width:80px;
  height:35px;
  display:flex;
  color:#999999;
}
#u19145 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19145_img.mouseOver {
}
#u19145.mouseOver {
}
#u19145_img.mouseDown {
}
#u19145.mouseDown {
}
#u19145_img.disabled {
}
#u19145.disabled {
  opacity:0.7;
}
#u19145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u19146 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:695px;
  width:80px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  line-height:20px;
}
#u19146 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19146_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u19146.mouseOver {
}
#u19146_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u19146.mouseDown {
}
#u19146_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u19146.disabled {
  opacity:0.7;
}
#u19146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u19147 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:440px;
  width:56px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u19147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u19148 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:477px;
  width:84px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u19148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19148_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
