body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-70px;
  width:1861px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:863px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22211 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:302px;
  width:1861px;
  height:863px;
  display:flex;
}
#u22211 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1861px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22212 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:302px;
  width:1861px;
  height:71px;
  display:flex;
}
#u22212 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22214 {
  border-width:0px;
  position:absolute;
  left:1810px;
  top:314px;
  width:98px;
  height:19px;
  display:flex;
}
#u22214 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22214_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22215 {
  border-width:0px;
  position:absolute;
  left:1808px;
  top:340px;
  width:56px;
  height:19px;
  display:flex;
}
#u22215 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22215_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22216 {
  border-width:0px;
  position:absolute;
  left:1882px;
  top:340px;
  width:28px;
  height:19px;
  display:flex;
}
#u22216 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:44px;
}
#u22217 {
  border-width:0px;
  position:absolute;
  left:1797px;
  top:314px;
  width:1px;
  height:43px;
  display:flex;
}
#u22217 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.627450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22218 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:383px;
  width:1663px;
  height:30px;
  display:flex;
}
#u22218 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22219 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:390px;
  width:393px;
  height:19px;
  display:flex;
}
#u22219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:793px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22220 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:372px;
  width:167px;
  height:793px;
  display:flex;
}
#u22220 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u22222 {
  border-width:0px;
  position:absolute;
  left:1711px;
  top:309px;
  width:47px;
  height:35px;
  display:flex;
}
#u22222 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u22223 {
  border-width:0px;
  position:absolute;
  left:1707px;
  top:349px;
  width:56px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u22223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u22224 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:327px;
  width:288px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u22224 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22224_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u22225 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:413px;
  width:70px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u22225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:724px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22226 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:423px;
  width:1663px;
  height:724px;
  display:flex;
}
#u22226 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u22228 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:469px;
  width:1412px;
  height:209px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u22228 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 0px 3px 20px;
  box-sizing:border-box;
  width:100%;
}
#u22228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u22229 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:695px;
  width:80px;
  height:35px;
  display:flex;
  color:#999999;
}
#u22229 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22229_img.mouseOver {
}
#u22229.mouseOver {
}
#u22229_img.mouseDown {
}
#u22229.mouseDown {
}
#u22229_img.disabled {
}
#u22229.disabled {
  opacity:0.7;
}
#u22229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u22230 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:695px;
  width:80px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  line-height:20px;
}
#u22230 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22230_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u22230.mouseOver {
}
#u22230_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u22230.mouseDown {
}
#u22230_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u22230.disabled {
  opacity:0.7;
}
#u22230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u22231 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:440px;
  width:56px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u22231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u22232 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:477px;
  width:84px;
  height:19px;
  display:flex;
  color:#0000FF;
}
#u22232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22232_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
