body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-25px;
  width:1502px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:716px;
}
#u8307 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:20px;
  width:1502px;
  height:716px;
  display:flex;
}
#u8307 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:384px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#D9001B;
}
#u8308 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:293px;
  width:907px;
  height:384px;
  display:flex;
  font-size:72px;
  color:#D9001B;
}
#u8308 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8309 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:692px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u8309 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
