body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2288px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:916px;
}
#u6342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:916px;
  display:flex;
}
#u6342 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6343 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:576px;
  width:980px;
  height:257px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6343 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:217px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u6345 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:621px;
  width:831px;
  height:217px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u6345 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u6346 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:588px;
  width:42px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u6346 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6346_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u6347 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:588px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u6347 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:388px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
  line-height:21px;
}
#u6348 {
  border-width:0px;
  position:absolute;
  left:1940px;
  top:143px;
  width:348px;
  height:388px;
  display:flex;
  color:#000000;
  line-height:21px;
}
#u6348 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6349 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:592px;
  width:118px;
  height:19px;
  display:flex;
}
#u6349 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
