body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-32px;
  width:1505px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1505px;
  height:714px;
}
#u9235 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:23px;
  width:1505px;
  height:714px;
  display:flex;
}
#u9235 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:279px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#D9001B;
}
#u9236 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:405px;
  width:911px;
  height:279px;
  display:flex;
  font-size:72px;
  color:#D9001B;
}
#u9236 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9237 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:693px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u9237 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
