body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-103px;
  width:705px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:290px;
}
#u16180 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:33px;
  width:173px;
  height:290px;
  display:flex;
}
#u16180 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u16181 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:40px;
  width:498px;
  height:124px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u16181 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16182 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:204px;
  width:199px;
  height:19px;
  display:flex;
}
#u16182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u16183 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:94px;
  width:21px;
  height:21px;
  display:flex;
}
#u16183 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u16184 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:121px;
  width:21px;
  height:21px;
  display:flex;
}
#u16184 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u16185 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:148px;
  width:21px;
  height:21px;
  display:flex;
}
#u16185 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u16186 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:175px;
  width:21px;
  height:21px;
  display:flex;
}
#u16186 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u16187 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:202px;
  width:21px;
  height:21px;
  display:flex;
}
#u16187 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u16188 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:229px;
  width:21px;
  height:21px;
  display:flex;
}
#u16188 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u16189 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:256px;
  width:21px;
  height:21px;
  display:flex;
}
#u16189 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u16190 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:283px;
  width:21px;
  height:21px;
  display:flex;
}
#u16190 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
