body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-103px;
  width:705px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:290px;
}
#u19264 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:33px;
  width:173px;
  height:290px;
  display:flex;
}
#u19264 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u19265 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:40px;
  width:498px;
  height:124px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u19265 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19266 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:204px;
  width:199px;
  height:19px;
  display:flex;
}
#u19266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19267 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:94px;
  width:21px;
  height:21px;
  display:flex;
}
#u19267 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19268 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:121px;
  width:21px;
  height:21px;
  display:flex;
}
#u19268 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19269 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:148px;
  width:21px;
  height:21px;
  display:flex;
}
#u19269 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19270 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:175px;
  width:21px;
  height:21px;
  display:flex;
}
#u19270 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19271 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:202px;
  width:21px;
  height:21px;
  display:flex;
}
#u19271 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19272 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:229px;
  width:21px;
  height:21px;
  display:flex;
}
#u19272 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19273 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:256px;
  width:21px;
  height:21px;
  display:flex;
}
#u19273 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19274 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:283px;
  width:21px;
  height:21px;
  display:flex;
}
#u19274 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
