body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-103px;
  width:705px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:290px;
}
#u20198 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:33px;
  width:173px;
  height:290px;
  display:flex;
}
#u20198 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u20199 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:40px;
  width:498px;
  height:124px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u20199 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20200 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:204px;
  width:199px;
  height:19px;
  display:flex;
}
#u20200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20201 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:94px;
  width:21px;
  height:21px;
  display:flex;
}
#u20201 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20202 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:121px;
  width:21px;
  height:21px;
  display:flex;
}
#u20202 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20203 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:148px;
  width:21px;
  height:21px;
  display:flex;
}
#u20203 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20204 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:175px;
  width:21px;
  height:21px;
  display:flex;
}
#u20204 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20205 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:202px;
  width:21px;
  height:21px;
  display:flex;
}
#u20205 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20206 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:229px;
  width:21px;
  height:21px;
  display:flex;
}
#u20206 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20207 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:256px;
  width:21px;
  height:21px;
  display:flex;
}
#u20207 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20208 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:283px;
  width:21px;
  height:21px;
  display:flex;
}
#u20208 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
