body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-103px;
  width:705px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:290px;
}
#u19810 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:33px;
  width:173px;
  height:290px;
  display:flex;
}
#u19810 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u19811 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:40px;
  width:498px;
  height:124px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u19811 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19812 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:204px;
  width:199px;
  height:19px;
  display:flex;
}
#u19812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19813 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:94px;
  width:21px;
  height:21px;
  display:flex;
}
#u19813 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19814 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:121px;
  width:21px;
  height:21px;
  display:flex;
}
#u19814 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19815 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:148px;
  width:21px;
  height:21px;
  display:flex;
}
#u19815 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19816 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:175px;
  width:21px;
  height:21px;
  display:flex;
}
#u19816 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19817 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:202px;
  width:21px;
  height:21px;
  display:flex;
}
#u19817 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19818 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:229px;
  width:21px;
  height:21px;
  display:flex;
}
#u19818 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19819 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:256px;
  width:21px;
  height:21px;
  display:flex;
}
#u19819 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u19820 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:283px;
  width:21px;
  height:21px;
  display:flex;
}
#u19820 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
