body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1503px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1503px;
  height:715px;
}
#u5951 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:76px;
  width:1503px;
  height:715px;
  display:flex;
}
#u5951 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:653px;
}
#u5952 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:164px;
  width:585px;
  height:653px;
  display:flex;
}
#u5952 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:659px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5953 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:121px;
  width:862px;
  height:659px;
  display:flex;
}
#u5953 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5954 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:133px;
  width:32px;
  height:21px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5954 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5954_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:2px;
}
#u5955 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:162px;
  width:997px;
  height:1px;
  display:flex;
}
#u5955 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5956 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:133px;
  width:347px;
  height:31px;
  display:flex;
}
#u5956 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5957 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:129px;
  width:83px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5957 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
}
#u5958 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:624px;
  width:123px;
  height:41px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
}
#u5958 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-decoration:underline ;
  color:#0079FE;
}
#u5959 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:185px;
  width:1px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-decoration:underline ;
  color:#0079FE;
}
#u5959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5959_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u5960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0079FE;
}
#u5960 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:185px;
  width:514px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0079FE;
}
#u5960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0079FE;
}
#u5961 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:597px;
  width:1px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0079FE;
}
#u5961 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5961_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u5962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u5962 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:677px;
  width:262px;
  height:14px;
  display:flex;
  color:#F59A23;
}
#u5962 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5963 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:624px;
  width:120px;
  height:41px;
  display:flex;
  font-size:12px;
}
#u5963 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:232px;
}
#u5964 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:219px;
  width:734px;
  height:232px;
  display:flex;
}
#u5964 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5965 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:306px;
  width:198px;
  height:40px;
  display:flex;
  text-align:right;
}
#u5965 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5966 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:434px;
  width:198px;
  height:40px;
  display:flex;
  text-align:right;
}
#u5966 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5966_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u5967 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:231px;
  width:59px;
  height:31px;
  display:flex;
}
#u5967 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u5968 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:338px;
  width:59px;
  height:31px;
  display:flex;
}
#u5968 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
