body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-52px;
  width:599px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:320px;
}
#u4105 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:10px;
  width:319px;
  height:320px;
  display:flex;
}
#u4105 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4106 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:260px;
  width:261px;
  height:32px;
  display:flex;
  font-size:12px;
}
#u4106 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4107 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:39px;
  width:271px;
  height:209px;
  display:flex;
}
#u4107 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
