body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-81px;
  width:1374px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:568px;
}
#u8233 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:27px;
  width:289px;
  height:568px;
  display:flex;
}
#u8233 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8234 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:99px;
  width:65px;
  height:56px;
  display:flex;
}
#u8234 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8235 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:167px;
  width:95px;
  height:19px;
  display:flex;
}
#u8235 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:532px;
}
#u8236 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:33px;
  width:334px;
  height:532px;
  display:flex;
}
#u8236 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8237 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:72px;
  width:271px;
  height:478px;
  display:flex;
}
#u8237 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:59px;
}
#u8238 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:99px;
  width:94px;
  height:59px;
  display:flex;
}
#u8238 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8239 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:72px;
  width:271px;
  height:306px;
  display:flex;
}
#u8239 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
