body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-81px;
  width:1374px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:568px;
}
#u9331 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:27px;
  width:289px;
  height:568px;
  display:flex;
}
#u9331 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9332 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:99px;
  width:65px;
  height:56px;
  display:flex;
}
#u9332 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9333 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:167px;
  width:95px;
  height:19px;
  display:flex;
}
#u9333 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:532px;
}
#u9334 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:33px;
  width:334px;
  height:532px;
  display:flex;
}
#u9334 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u9335 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:72px;
  width:271px;
  height:478px;
  display:flex;
}
#u9335 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:59px;
}
#u9336 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:99px;
  width:94px;
  height:59px;
  display:flex;
}
#u9336 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u9337 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:72px;
  width:271px;
  height:306px;
  display:flex;
}
#u9337 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
