body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-119px;
  width:1500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:712px;
}
#u9256 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:28px;
  width:1500px;
  height:712px;
  display:flex;
}
#u9256 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:272px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#D9001B;
}
#u9257 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:177px;
  width:771px;
  height:272px;
  display:flex;
  font-size:72px;
  color:#D9001B;
}
#u9257 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9258 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:692px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u9258 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:2px;
}
#u9259 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:142px;
  width:57px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(1.73570458892684deg);
  -moz-transform:rotate(1.73570458892684deg);
  -ms-transform:rotate(1.73570458892684deg);
  transform:rotate(1.73570458892684deg);
}
#u9259 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
