body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-78px;
  width:1228px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:1306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23879 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:99px;
  width:1228px;
  height:1306px;
  display:flex;
}
#u23879 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23880 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:49px;
  width:1228px;
  height:50px;
  display:flex;
}
#u23880 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23881 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:65px;
  width:780px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23882 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23882 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23882_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23882.mouseOver {
}
#u23882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23883 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:300px;
  width:653px;
  height:112px;
  display:flex;
}
#u23883 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23884 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:493px;
  width:653px;
  height:112px;
  display:flex;
}
#u23884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:156px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:20px;
}
#u23885 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:137px;
  width:653px;
  height:156px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:20px;
}
#u23885 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u23885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:30px;
}
#u23886 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:155px;
  width:593px;
  height:90px;
  display:flex;
  font-size:16px;
  line-height:30px;
}
#u23886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u23887 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:136px;
  width:50px;
  height:47px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u23887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:27px;
}
#u23888 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:203px;
  width:15px;
  height:27px;
  display:flex;
}
#u23888 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u23889 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:204px;
  width:15px;
  height:26px;
  display:flex;
}
#u23889 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23890 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:426px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23890 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23890_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23890.mouseDown {
}
#u23890_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23890.selected {
}
#u23890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23891 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:615px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23891 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23891_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23891.mouseDown {
}
#u23891_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23891.selected {
}
#u23891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23892 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:615px;
  width:148px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23892 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23892_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23892.mouseDown {
}
#u23892_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u23892.selected {
}
#u23892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23893 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:183px;
  width:438px;
  height:34px;
  display:flex;
}
#u23893 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23894 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:219px;
  width:76px;
  height:34px;
  display:flex;
}
#u23894 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23895 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:339px;
  width:260px;
  height:26px;
  display:flex;
}
#u23895 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23896 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:339px;
  width:82px;
  height:26px;
  display:flex;
}
#u23896 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23897 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:365px;
  width:653px;
  height:47px;
  display:flex;
}
#u23897 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23898 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:420px;
  width:80px;
  height:30px;
  display:flex;
}
#u23898 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23899 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:609px;
  width:171px;
  height:30px;
  display:flex;
}
#u23899 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
