body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-102px;
  width:1499px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1499px;
  height:710px;
}
#u4403 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:59px;
  width:1499px;
  height:710px;
  display:flex;
}
#u4403 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:563px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#D9001B;
}
#u4404 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:146px;
  width:881px;
  height:563px;
  display:flex;
  font-size:72px;
  color:#D9001B;
}
#u4404 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4405 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:722px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u4405 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
