body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-38px;
  width:1159px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1159px;
  height:518px;
}
#u7240 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:21px;
  width:1159px;
  height:518px;
  display:flex;
}
#u7240 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 127, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7241 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:45px;
  width:42px;
  height:10px;
  display:flex;
}
#u7241 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u7242 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:45px;
  width:33px;
  height:10px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u7242 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
