body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-118px;
  width:1474px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:2610px;
}
#u8276 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:120px;
  width:613px;
  height:2610px;
  display:flex;
}
#u8276 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:1629px;
}
#u8277 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:120px;
  width:612px;
  height:1629px;
  display:flex;
}
#u8277 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:42px;
}
#u8278 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:67px;
  width:1311px;
  height:42px;
  display:flex;
}
#u8278 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8279 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:2278px;
  width:109px;
  height:40px;
  display:flex;
  text-align:right;
}
#u8279 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u8280 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:2288px;
  width:20px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u8280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8281 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:2278px;
  width:136px;
  height:40px;
  display:flex;
}
#u8281 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8282 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:2327px;
  width:385px;
  height:38px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8283 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:120px;
  width:150px;
  height:107px;
  display:flex;
}
#u8283 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8284 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:2327px;
  width:24px;
  height:19px;
  display:flex;
}
#u8284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
