body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-107px;
  width:2062px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u11567 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u11567 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11568 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:181px;
  width:79px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11568 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11569_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:7px;
}
#u11569 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:240px;
  width:56px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(1.43209618416461deg);
  -moz-transform:rotate(1.43209618416461deg);
  -ms-transform:rotate(1.43209618416461deg);
  transform:rotate(1.43209618416461deg);
}
#u11569 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u11570 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u11570 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11571 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:476px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11572_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u11572 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:521px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u11572 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11573 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:567px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11574_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u11574 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:585px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u11574 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u11575 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:123px;
  width:375px;
  height:834px;
  display:flex;
}
#u11575 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11576_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u11576 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:434px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u11576 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u11577 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u11577 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11578_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u11578 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:542px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u11578 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11579 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:567px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11579 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11580_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u11580 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:539px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u11580 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11581 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:560px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11581 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u11582 {
  border-width:0px;
  position:absolute;
  left:1768px;
  top:106px;
  width:375px;
  height:834px;
  display:flex;
}
#u11582 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11583_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u11583 {
  border-width:0px;
  position:absolute;
  left:2059px;
  top:900px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u11583 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11584 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:924px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11585_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u11585 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:897px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u11585 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11586 {
  border-width:0px;
  position:absolute;
  left:2059px;
  top:924px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u11586 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
