body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-107px;
  width:2062px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u10857 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u10857 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10858 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:181px;
  width:79px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10859_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:7px;
}
#u10859 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:240px;
  width:56px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(1.43209618416461deg);
  -moz-transform:rotate(1.43209618416461deg);
  -ms-transform:rotate(1.43209618416461deg);
  transform:rotate(1.43209618416461deg);
}
#u10859 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u10860 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u10860 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10861 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:476px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10861 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10862_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10862 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:521px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10862 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10863 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:567px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10863 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10864_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10864 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:585px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10864 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u10865 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:123px;
  width:375px;
  height:834px;
  display:flex;
}
#u10865 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10866_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10866 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:434px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10866 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u10867 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u10867 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10868_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10868 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:542px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10868 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10869 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:567px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10869 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10870_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10870 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:539px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10870 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10871 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:560px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10871 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u10872 {
  border-width:0px;
  position:absolute;
  left:1768px;
  top:106px;
  width:375px;
  height:834px;
  display:flex;
}
#u10872 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10873_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10873 {
  border-width:0px;
  position:absolute;
  left:2059px;
  top:900px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10873 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10874 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:924px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10875_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10875 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:897px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10875 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10876 {
  border-width:0px;
  position:absolute;
  left:2059px;
  top:924px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
