body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-107px;
  width:2062px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u9918 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u9918 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9919 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:181px;
  width:79px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9920_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:7px;
}
#u9920 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:240px;
  width:56px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(1.43209618416461deg);
  -moz-transform:rotate(1.43209618416461deg);
  -ms-transform:rotate(1.43209618416461deg);
  transform:rotate(1.43209618416461deg);
}
#u9920 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u9921 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u9921 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9922 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:476px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9923_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u9923 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:521px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u9923 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9924 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:567px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9924 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9925_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u9925 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:585px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u9925 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u9926 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:123px;
  width:375px;
  height:834px;
  display:flex;
}
#u9926 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9927_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u9927 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:434px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u9927 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u9928 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u9928 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9929_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u9929 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:542px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u9929 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9930 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:567px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9931_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u9931 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:539px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u9931 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9932 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:560px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u9933 {
  border-width:0px;
  position:absolute;
  left:1768px;
  top:106px;
  width:375px;
  height:834px;
  display:flex;
}
#u9933 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9934_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u9934 {
  border-width:0px;
  position:absolute;
  left:2059px;
  top:900px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u9934 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9935 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:924px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9935 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9936_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u9936 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:897px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u9936 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9937 {
  border-width:0px;
  position:absolute;
  left:2059px;
  top:924px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u9937 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
