body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-107px;
  width:2062px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u8280 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u8280 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8281 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:181px;
  width:79px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8282_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:7px;
}
#u8282 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:240px;
  width:56px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(1.43209618416461deg);
  -moz-transform:rotate(1.43209618416461deg);
  -ms-transform:rotate(1.43209618416461deg);
  transform:rotate(1.43209618416461deg);
}
#u8282 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u8283 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u8283 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8284 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:476px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8285_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u8285 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:521px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u8285 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8286 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:567px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8286 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8287_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u8287 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:585px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u8287 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u8288 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:123px;
  width:375px;
  height:834px;
  display:flex;
}
#u8288 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8289_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u8289 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:434px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u8289 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u8290 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u8290 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8291_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u8291 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:542px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u8291 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8292 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:567px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8293_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u8293 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:539px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u8293 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8294 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:560px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u8295 {
  border-width:0px;
  position:absolute;
  left:1768px;
  top:106px;
  width:375px;
  height:834px;
  display:flex;
}
#u8295 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8296_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u8296 {
  border-width:0px;
  position:absolute;
  left:2059px;
  top:900px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u8296 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8297 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:924px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8298_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u8298 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:897px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u8298 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8299 {
  border-width:0px;
  position:absolute;
  left:2059px;
  top:924px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u8299 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
