body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-107px;
  width:2062px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u10469 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u10469 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10470 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:181px;
  width:79px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10471_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:60px;
  height:7px;
}
#u10471 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:240px;
  width:56px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(1.43209618416461deg);
  -moz-transform:rotate(1.43209618416461deg);
  -ms-transform:rotate(1.43209618416461deg);
  transform:rotate(1.43209618416461deg);
}
#u10471 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u10472 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u10472 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10473 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:476px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10473 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10474_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10474 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:521px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10474 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10475 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:567px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10476_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10476 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:585px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10476 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u10477 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:123px;
  width:375px;
  height:834px;
  display:flex;
}
#u10477 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10478_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10478 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:434px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10478 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u10479 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:107px;
  width:375px;
  height:834px;
  display:flex;
}
#u10479 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10480_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10480 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:542px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10480 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10481 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:567px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10482_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10482 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:539px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10482 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10483 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:560px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10483 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u10484 {
  border-width:0px;
  position:absolute;
  left:1768px;
  top:106px;
  width:375px;
  height:834px;
  display:flex;
}
#u10484 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10485_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10485 {
  border-width:0px;
  position:absolute;
  left:2059px;
  top:900px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10485 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10486 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:924px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10487_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:7px;
}
#u10487 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:897px;
  width:82px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(2.58983239951875deg);
  -moz-transform:rotate(2.58983239951875deg);
  -ms-transform:rotate(2.58983239951875deg);
  transform:rotate(2.58983239951875deg);
}
#u10487 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10488 {
  border-width:0px;
  position:absolute;
  left:2059px;
  top:924px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u10488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
