body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-93px;
  width:1016px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:34px;
  width:666px;
  height:50px;
  display:flex;
}
#u927 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:50px;
  width:780px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:35px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u929 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u929_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u929.mouseOver {
}
#u929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:507px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:84px;
  width:666px;
  height:507px;
  display:flex;
  opacity:0.6;
}
#u930 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 1px 1px 0px rgba(233, 233, 233, 1) inset;
  -webkit-box-shadow:0px 1px 1px 0px rgba(233, 233, 233, 1) inset;
  box-shadow:0px 1px 1px 0px rgba(233, 233, 233, 1) inset;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:531px;
  width:655px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u932 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:546px;
  width:57px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u933 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u933_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u933.mouseOver {
}
#u933_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u933.mouseDown {
}
#u933_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u933.disabled {
  opacity:0.7;
}
#u933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:546px;
  width:57px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u934 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u934_img.mouseOver {
}
#u934.mouseOver {
}
#u934_img.mouseDown {
}
#u934.mouseDown {
}
#u934_img.disabled {
}
#u934.disabled {
  opacity:0.7;
}
#u934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:133px;
  width:309px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u935 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u935_img.mouseDown {
}
#u935.mouseDown {
  opacity:0.8;
}
#u935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:193px;
  width:70px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u936 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u936_img.mouseDown {
}
#u936.mouseDown {
  opacity:0.8;
}
#u936_img.selected {
}
#u936.selected {
}
#u936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:248px;
  width:70px;
  height:25px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u937 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u937_img.mouseDown {
}
#u937.mouseDown {
  opacity:0.8;
}
#u937_img.selected {
}
#u937.selected {
}
#u937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:2px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:218px;
  width:157px;
  height:1px;
  display:flex;
}
#u938 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:2px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:268px;
  width:157px;
  height:1px;
  display:flex;
}
#u939 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:196px;
  width:83px;
  height:19px;
  display:flex;
  color:#999999;
}
#u940 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:248px;
  width:83px;
  height:19px;
  display:flex;
  color:#999999;
}
#u941 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:196px;
  width:126px;
  height:19px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u942 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:187px;
  width:18px;
  height:19px;
  display:flex;
  color:#D9001B;
}
#u943 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:239px;
  width:18px;
  height:19px;
  display:flex;
  color:#D9001B;
}
#u944 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:139px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u945 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u945_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:139px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u946 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:243px;
  width:126px;
  height:19px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u947 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:35px;
  width:300px;
  height:195px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u948 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
