body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1494px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:833px;
}
#u8645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:375px;
  height:833px;
  display:flex;
}
#u8645 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:793px;
  width:375px;
  height:54px;
  display:flex;
}
#u8646 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u8647 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:798px;
  width:139px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u8647 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8647_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u8647.mouseOver {
  opacity:0.8;
}
#u8647_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u8647.mouseDown {
  opacity:1;
}
#u8647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(50, 113, 209, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8648 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:798px;
  width:139px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8648 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8648_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(50, 113, 209, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8648.mouseOver {
  opacity:0.8;
}
#u8648_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(50, 113, 209, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8648.mouseDown {
  opacity:1;
}
#u8648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:230px;
}
#u8649 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:277px;
  width:350px;
  height:230px;
  display:flex;
}
#u8649 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8650 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:367px;
  width:188px;
  height:32px;
  display:flex;
}
#u8650 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8651 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:536px;
  width:310px;
  height:307px;
  display:flex;
}
#u8651 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:833px;
}
#u8652 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:36px;
  width:375px;
  height:833px;
  display:flex;
}
#u8652 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8653 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:814px;
  width:58px;
  height:22px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8653 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8653_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8653.mouseOver {
  opacity:0.8;
}
#u8653_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8653.mouseDown {
  opacity:1;
}
#u8653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:230px;
}
#u8654 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:277px;
  width:350px;
  height:230px;
  display:flex;
}
#u8654 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8655 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:364px;
  width:187px;
  height:32px;
  display:flex;
}
#u8655 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
