body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1494px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:833px;
}
#u9173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:375px;
  height:833px;
  display:flex;
}
#u9173 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:793px;
  width:375px;
  height:54px;
  display:flex;
}
#u9174 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u9175 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:798px;
  width:139px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u9175 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9175_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u9175.mouseOver {
  opacity:0.8;
}
#u9175_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u9175.mouseDown {
  opacity:1;
}
#u9175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(50, 113, 209, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9176 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:798px;
  width:139px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9176 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9176_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(50, 113, 209, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9176.mouseOver {
  opacity:0.8;
}
#u9176_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(50, 113, 209, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9176.mouseDown {
  opacity:1;
}
#u9176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:230px;
}
#u9177 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:277px;
  width:350px;
  height:230px;
  display:flex;
}
#u9177 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9178 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:367px;
  width:188px;
  height:32px;
  display:flex;
}
#u9178 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u9179 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:536px;
  width:310px;
  height:307px;
  display:flex;
}
#u9179 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:833px;
}
#u9180 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:36px;
  width:375px;
  height:833px;
  display:flex;
}
#u9180 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9181 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:814px;
  width:58px;
  height:22px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9181 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9181_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9181.mouseOver {
  opacity:0.8;
}
#u9181_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9181.mouseDown {
  opacity:1;
}
#u9181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:230px;
}
#u9182 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:277px;
  width:350px;
  height:230px;
  display:flex;
}
#u9182 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9183 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:364px;
  width:187px;
  height:32px;
  display:flex;
}
#u9183 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
