body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1494px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:833px;
}
#u8257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:375px;
  height:833px;
  display:flex;
}
#u8257 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:793px;
  width:375px;
  height:54px;
  display:flex;
}
#u8258 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u8259 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:798px;
  width:139px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u8259 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8259_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u8259.mouseOver {
  opacity:0.8;
}
#u8259_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0074D6;
}
#u8259.mouseDown {
  opacity:1;
}
#u8259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(50, 113, 209, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8260 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:798px;
  width:139px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8260 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8260_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(50, 113, 209, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8260.mouseOver {
  opacity:0.8;
}
#u8260_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:45px;
  background:inherit;
  background-color:rgba(50, 113, 209, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8260.mouseDown {
  opacity:1;
}
#u8260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:230px;
}
#u8261 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:277px;
  width:350px;
  height:230px;
  display:flex;
}
#u8261 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8262 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:367px;
  width:188px;
  height:32px;
  display:flex;
}
#u8262 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8263 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:536px;
  width:310px;
  height:307px;
  display:flex;
}
#u8263 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:833px;
}
#u8264 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:36px;
  width:375px;
  height:833px;
  display:flex;
}
#u8264 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8265 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:814px;
  width:58px;
  height:22px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8265 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8265_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8265.mouseOver {
  opacity:0.8;
}
#u8265_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(35, 128, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8265.mouseDown {
  opacity:1;
}
#u8265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:230px;
}
#u8266 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:277px;
  width:350px;
  height:230px;
  display:flex;
}
#u8266 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8267 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:364px;
  width:187px;
  height:32px;
  display:flex;
}
#u8267 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
