body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-25px;
  width:1882px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:572px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:24px;
  width:1200px;
  height:572px;
  display:flex;
}
#u268 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:457px;
  width:194px;
  height:52px;
  display:flex;
}
#u269 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:465px;
  width:242px;
  height:18px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u270 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:573px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:608px;
  width:1200px;
  height:573px;
  display:flex;
}
#u271 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:1051px;
  width:194px;
  height:52px;
  display:flex;
}
#u272 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:1059px;
  width:242px;
  height:18px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:1532px;
  top:308px;
  width:375px;
  height:834px;
  display:flex;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:1546px;
  top:918px;
  width:361px;
  height:119px;
  display:flex;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:934px;
  width:242px;
  height:36px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:295px;
  width:375px;
  height:834px;
  display:flex;
}
#u277 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:859px;
  width:361px;
  height:119px;
  display:flex;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:875px;
  width:242px;
  height:36px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u279 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:346px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:24px;
  width:257px;
  height:346px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u280 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
