body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-62px;
  width:760px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:130px;
}
#u20216 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:69px;
  width:760px;
  height:130px;
  display:flex;
}
#u20216 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u20217 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:203px;
  width:498px;
  height:71px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u20217 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20218 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:80px;
  width:21px;
  height:21px;
  display:flex;
}
#u20218 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20219 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:107px;
  width:21px;
  height:21px;
  display:flex;
}
#u20219 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20220 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:134px;
  width:21px;
  height:21px;
  display:flex;
}
#u20220 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20221 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:161px;
  width:21px;
  height:21px;
  display:flex;
}
#u20221 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
