body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-22px;
  width:764px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:105px;
}
#u16204 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:26px;
  width:764px;
  height:105px;
  display:flex;
}
#u16204 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u16205 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:138px;
  width:498px;
  height:71px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:24px;
}
#u16205 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u16205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
