body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1900px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u3609 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:56px;
  width:375px;
  height:834px;
  display:flex;
}
#u3609 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u3610 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:831px;
  width:62px;
  height:23px;
  display:flex;
  color:#0000FF;
}
#u3610 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u3611 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:890px;
  width:503px;
  height:119px;
  display:flex;
  color:#000000;
}
#u3611 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
