body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-226px;
  width:854px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:823px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16927 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:112px;
  width:854px;
  height:823px;
  display:flex;
}
#u16927 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16928 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:77px;
  width:854px;
  height:50px;
  display:flex;
}
#u16928 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16929 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:93px;
  width:780px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u16930 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:77px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u16930 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16930_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u16930.mouseOver {
}
#u16930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16931 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:170px;
  width:604px;
  height:336px;
  display:flex;
}
#u16931 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
