body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-78px;
  width:1228px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:1072px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7096 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:84px;
  width:1228px;
  height:1072px;
  display:flex;
}
#u7096 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7097 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:49px;
  width:1228px;
  height:50px;
  display:flex;
}
#u7097 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u7098 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:65px;
  width:780px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u7098 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7099 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7099 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7099_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7099.mouseOver {
}
#u7099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7100 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:162px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7100 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u7102 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:531px;
  width:831px;
  height:166px;
  display:flex;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u7102 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7103 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:543px;
  width:70px;
  height:20px;
  display:flex;
  text-align:right;
}
#u7103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7104 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:225px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7104 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7105 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:288px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7105 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7106 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:348px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7106 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7108 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:349px;
  width:825px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7108 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7109 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:917px;
  width:115px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7109 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7111 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:911px;
  width:102px;
  height:40px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u7111 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7112 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:911px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7112 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7113 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:855px;
  width:98px;
  height:20px;
  display:flex;
  text-align:right;
}
#u7113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7113_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7114 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:410px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7114 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7116 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:411px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u7116 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7117 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:469px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7117 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7119 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:470px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u7119 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:104px;
  background:inherit;
  background-color:rgba(251, 251, 251, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u7121 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:730px;
  width:831px;
  height:104px;
  display:flex;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u7121 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7122 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:733px;
  width:70px;
  height:20px;
  display:flex;
  text-align:right;
}
#u7122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7124 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:225px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u7124 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7126 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:162px;
  width:825px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7126 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7128 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:288px;
  width:825px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7128 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7130 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:845px;
  width:312px;
  height:40px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u7130 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7131 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:848px;
  width:128px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7131 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7132 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:859px;
  width:70px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7132_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
