body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:494px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:159px;
  width:1080px;
  height:494px;
  display:flex;
}
#u1197 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:285px;
  width:51px;
  height:18px;
  display:flex;
}
#u1198 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:415px;
  width:131px;
  height:1px;
  display:flex;
}
#u1199 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:426px;
  width:45px;
  height:12px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u1200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1200_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:left;
}
.u1202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  display:flex;
  font-size:9px;
  text-align:left;
}
.u1202 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
.u1202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1203 label {
  left:0px;
  width:100%;
}
.u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
.u1203 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:9px;
  width:100px;
  height:16px;
  display:flex;
}
.u1203 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
.u1203_img.selected {
}
.u1203.selected {
}
.u1203_img.disabled {
}
.u1203.disabled {
}
.u1203_img.selectedDisabled {
}
.u1203.selectedDisabled {
}
.u1203_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:88px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1203_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1201-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
.u1203 label {
  left:0px;
  width:100%;
}
#u1201-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:30px;
}
.u1203 label {
  left:0px;
  width:100%;
}
#u1201-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:109px;
  height:30px;
}
.u1203 label {
  left:0px;
  width:100%;
}
#u1201-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:109px;
  height:30px;
}
.u1203 label {
  left:0px;
  width:100%;
}
#u1201-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:109px;
  height:30px;
}
.u1203 label {
  left:0px;
  width:100%;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:446px;
  width:109px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:24px;
  width:785px;
  height:112px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:294px;
  width:87px;
  height:15px;
  display:flex;
}
#u1205 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:296px;
  width:213px;
  height:14px;
  display:flex;
  font-size:10px;
}
#u1206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:640px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:753px;
  width:288px;
  height:640px;
  display:flex;
}
#u1207 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:906px;
  width:280px;
  height:344px;
  display:flex;
}
#u1208 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:353px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:923px;
  width:299px;
  height:353px;
  display:flex;
}
#u1209 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1210 label {
  left:0px;
  width:100%;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:908px;
  width:214px;
  height:14px;
  display:flex;
  font-size:10px;
}
#u1210 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1210_img.selected {
}
#u1210.selected {
}
#u1210_img.disabled {
}
#u1210.disabled {
}
#u1210_img.selectedDisabled {
}
#u1210.selectedDisabled {
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:202px;
  word-wrap:break-word;
  text-transform:none;
}
#u1210_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:929px;
  width:193px;
  height:21px;
  display:flex;
  text-align:left;
}
#u1211 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:left;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:341px;
  width:86px;
  height:21px;
  display:flex;
  font-size:8px;
  text-align:left;
}
#u1212 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:674px;
  width:785px;
  height:75px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
#u1213 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:247px;
  width:157px;
  height:26px;
  display:flex;
}
#u1214 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
