body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:494px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:159px;
  width:1080px;
  height:494px;
  display:flex;
}
#u283 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:285px;
  width:51px;
  height:18px;
  display:flex;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:415px;
  width:131px;
  height:1px;
  display:flex;
}
#u285 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:426px;
  width:45px;
  height:12px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u286 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:left;
}
.u288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  display:flex;
  font-size:9px;
  text-align:left;
}
.u288 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
.u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u289 label {
  left:0px;
  width:100%;
}
.u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
.u289 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:9px;
  width:100px;
  height:16px;
  display:flex;
}
.u289 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
.u289_img.selected {
}
.u289.selected {
}
.u289_img.disabled {
}
.u289.disabled {
}
.u289_img.selectedDisabled {
}
.u289.selectedDisabled {
}
.u289_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:88px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u289_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u287-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
.u289 label {
  left:0px;
  width:100%;
}
#u287-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:30px;
}
.u289 label {
  left:0px;
  width:100%;
}
#u287-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:109px;
  height:30px;
}
.u289 label {
  left:0px;
  width:100%;
}
#u287-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:109px;
  height:30px;
}
.u289 label {
  left:0px;
  width:100%;
}
#u287-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:109px;
  height:30px;
}
.u289 label {
  left:0px;
  width:100%;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:446px;
  width:109px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:24px;
  width:785px;
  height:112px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:294px;
  width:87px;
  height:15px;
  display:flex;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:296px;
  width:213px;
  height:14px;
  display:flex;
  font-size:10px;
}
#u292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:640px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:753px;
  width:288px;
  height:640px;
  display:flex;
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:906px;
  width:280px;
  height:344px;
  display:flex;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:353px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:923px;
  width:299px;
  height:353px;
  display:flex;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u296 label {
  left:0px;
  width:100%;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:12px;
  height:12px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:908px;
  width:214px;
  height:14px;
  display:flex;
  font-size:10px;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u296_img.selected {
}
#u296.selected {
}
#u296_img.disabled {
}
#u296.disabled {
}
#u296_img.selectedDisabled {
}
#u296.selectedDisabled {
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:202px;
  word-wrap:break-word;
  text-transform:none;
}
#u296_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:929px;
  width:193px;
  height:21px;
  display:flex;
  text-align:left;
}
#u297 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  text-align:left;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:341px;
  width:86px;
  height:21px;
  display:flex;
  font-size:8px;
  text-align:left;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:674px;
  width:785px;
  height:75px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
#u299 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:247px;
  width:157px;
  height:26px;
  display:flex;
}
#u300 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
