body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:496px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:640px;
}
#u8366 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:24px;
  width:288px;
  height:640px;
  display:flex;
}
#u8366 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8367 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:275px;
  width:279px;
  height:139px;
  display:flex;
}
#u8367 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8368_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:225px;
  height:9px;
}
#u8368 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:352px;
  width:220px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(0.0531297857676652deg);
  -moz-transform:rotate(0.0531297857676652deg);
  -ms-transform:rotate(0.0531297857676652deg);
  transform:rotate(0.0531297857676652deg);
}
#u8368 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u8369 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:619px;
  width:84px;
  height:24px;
  display:flex;
  font-size:10px;
}
#u8369 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8370 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:106px;
  width:189px;
  height:150px;
  display:flex;
}
#u8370 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8371 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:473px;
  width:107px;
  height:19px;
  display:flex;
}
#u8371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8372_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8372 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:492px;
  width:267px;
  height:22px;
  display:flex;
}
#u8372 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8372_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8372.disabled {
}
.u8372_input_option {
}
