body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:933px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:1023px;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:1023px;
  display:flex;
}
#u2792 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2793_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:5px;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:71px;
  width:30px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(3.09405805892148deg);
  -moz-transform:rotate(3.09405805892148deg);
  -ms-transform:rotate(3.09405805892148deg);
  transform:rotate(3.09405805892148deg);
}
#u2793 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:933px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:90px;
  width:447px;
  height:933px;
  display:flex;
}
#u2794 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:98px;
  width:95px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2796 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2796_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2796.mouseDown {
}
#u2796_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2796.selected {
}
#u2796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:98px;
  width:95px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2797 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2797_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2797.mouseDown {
}
#u2797_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2797.selected {
}
#u2797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:98px;
  width:95px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2798 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2798_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2798.mouseDown {
}
#u2798_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2798.selected {
}
#u2798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:678px;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:155px;
  width:370px;
  height:678px;
  display:flex;
}
#u2799 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:873px;
  width:110px;
  height:41px;
  display:flex;
}
#u2800 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:874px;
  width:92px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2801 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2801_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2801.mouseDown {
  opacity:0.9;
}
#u2801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:873px;
  width:92px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2802 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2802_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2802.mouseDown {
  opacity:0.9;
}
#u2802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:875px;
  width:92px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2803 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2803_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2803.mouseDown {
  opacity:0.9;
}
#u2803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:810px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:37px;
  width:473px;
  height:810px;
  display:flex;
}
#u2804 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#0000FF;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:201px;
  width:291px;
  height:65px;
  display:flex;
  color:#0000FF;
}
#u2805 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
