body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:933px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:1023px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:1023px;
  display:flex;
}
#u1694 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:5px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:71px;
  width:30px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(3.09405805892148deg);
  -moz-transform:rotate(3.09405805892148deg);
  -ms-transform:rotate(3.09405805892148deg);
  transform:rotate(3.09405805892148deg);
}
#u1695 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:933px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:90px;
  width:447px;
  height:933px;
  display:flex;
}
#u1696 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:98px;
  width:95px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1698 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1698_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1698.mouseDown {
}
#u1698_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1698.selected {
}
#u1698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:98px;
  width:95px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1699 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1699_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1699.mouseDown {
}
#u1699_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1699.selected {
}
#u1699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:98px;
  width:95px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1700 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1700_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1700.mouseDown {
}
#u1700_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1700.selected {
}
#u1700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:678px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:155px;
  width:370px;
  height:678px;
  display:flex;
}
#u1701 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:873px;
  width:110px;
  height:41px;
  display:flex;
}
#u1702 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:874px;
  width:92px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1703 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1703_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1703.mouseDown {
  opacity:0.9;
}
#u1703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:873px;
  width:92px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u1704 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1704_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u1704.mouseDown {
  opacity:0.9;
}
#u1704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:875px;
  width:92px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u1705 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1705_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u1705.mouseDown {
  opacity:0.9;
}
#u1705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:810px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:37px;
  width:473px;
  height:810px;
  display:flex;
}
#u1706 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#0000FF;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:201px;
  width:291px;
  height:65px;
  display:flex;
  color:#0000FF;
}
#u1707 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
