body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:933px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:1023px;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:1023px;
  display:flex;
}
#u2082 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2083_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:5px;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:71px;
  width:30px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(3.09405805892148deg);
  -moz-transform:rotate(3.09405805892148deg);
  -ms-transform:rotate(3.09405805892148deg);
  transform:rotate(3.09405805892148deg);
}
#u2083 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:933px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:90px;
  width:447px;
  height:933px;
  display:flex;
}
#u2084 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:98px;
  width:95px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2086 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2086_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2086.mouseDown {
}
#u2086_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2086.selected {
}
#u2086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:98px;
  width:95px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2087 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2087_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2087.mouseDown {
}
#u2087_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2087.selected {
}
#u2087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:98px;
  width:95px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2088 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2088_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2088.mouseDown {
}
#u2088_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2088.selected {
}
#u2088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:678px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:155px;
  width:370px;
  height:678px;
  display:flex;
}
#u2089 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:873px;
  width:110px;
  height:41px;
  display:flex;
}
#u2090 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:874px;
  width:92px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2091 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2091_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2091.mouseDown {
  opacity:0.9;
}
#u2091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:873px;
  width:92px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2092 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2092_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2092.mouseDown {
  opacity:0.9;
}
#u2092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:875px;
  width:92px;
  height:39px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2093 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2093_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#0074D6;
}
#u2093.mouseDown {
  opacity:0.9;
}
#u2093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:810px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:37px;
  width:473px;
  height:810px;
  display:flex;
}
#u2094 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#0000FF;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:201px;
  width:291px;
  height:65px;
  display:flex;
  color:#0000FF;
}
#u2095 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
