body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-82px;
  width:1926px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1910px;
  height:824px;
}
#u11803 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:79px;
  width:1910px;
  height:824px;
  display:flex;
}
#u11803 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:right;
}
#u11804 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:716px;
  width:440px;
  height:19px;
  display:flex;
  color:#0000FF;
  text-align:right;
}
#u11804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:43px;
  background:inherit;
  background-color:rgba(4, 217, 25, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u11805 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:19px;
  width:932px;
  height:43px;
  display:flex;
}
#u11805 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u11805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
