body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-11px;
  width:1354px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:480px;
}
#u6497 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:974px;
  height:480px;
  display:flex;
}
#u6497 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6498 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:357px;
  width:452px;
  height:123px;
  display:flex;
}
#u6498 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u6499 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:357px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u6499 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u6500 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:434px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u6500 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u6501 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:534px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u6501 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u6502 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:459px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u6502 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6504 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:351px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u6504 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u6504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u6505 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:361px;
  width:225px;
  height:10px;
  display:flex;
  font-size:8px;
}
#u6505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6506 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:453px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u6506 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u6506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u6507 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:463px;
  width:221px;
  height:10px;
  display:flex;
  font-size:8px;
}
#u6507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:61px;
}
#u6508 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:373px;
  width:428px;
  height:61px;
  display:flex;
}
#u6508 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:8px;
}
#u6509 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:384px;
  width:150px;
  height:39px;
  display:flex;
  font-size:8px;
}
#u6509 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:61px;
}
#u6510 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:473px;
  width:428px;
  height:61px;
  display:flex;
}
#u6510 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:8px;
}
#u6511 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:484px;
  width:150px;
  height:39px;
  display:flex;
  font-size:8px;
}
#u6511 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u6512 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:11px;
  width:375px;
  height:834px;
  display:flex;
}
#u6512 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6513 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:529px;
  width:408px;
  height:344px;
  display:flex;
}
#u6513 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:95px;
}
#u6514 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:632px;
  width:370px;
  height:95px;
  display:flex;
}
#u6514 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:87px;
}
#u6515 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:906px;
  width:370px;
  height:87px;
  display:flex;
}
#u6515 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:189px;
}
#u6516 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:443px;
  width:370px;
  height:189px;
  display:flex;
}
#u6516 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0075FB;
}
#u6517 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:470px;
  width:124px;
  height:30px;
  display:flex;
  color:#0075FB;
}
#u6517 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6518 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:598px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u6518 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u6518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
}
#u6519 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:606px;
  width:326px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
}
#u6519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:189px;
}
#u6520 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:717px;
  width:370px;
  height:189px;
  display:flex;
}
#u6520 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0075FB;
}
#u6521 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:744px;
  width:124px;
  height:30px;
  display:flex;
  color:#0075FB;
}
#u6521 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6522 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:872px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u6522 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u6522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
}
#u6523 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:880px;
  width:326px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
}
#u6523 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
