body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-11px;
  width:1354px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:480px;
}
#u3210 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:974px;
  height:480px;
  display:flex;
}
#u3210 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3211 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:357px;
  width:452px;
  height:123px;
  display:flex;
}
#u3211 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u3212 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:357px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u3212 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u3213 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:434px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u3213 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u3214 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:534px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u3214 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u3215 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:459px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u3215 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3217 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:351px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u3217 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u3218 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:361px;
  width:225px;
  height:10px;
  display:flex;
  font-size:8px;
}
#u3218 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3219 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:453px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u3219 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u3220 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:463px;
  width:221px;
  height:10px;
  display:flex;
  font-size:8px;
}
#u3220 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:61px;
}
#u3221 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:373px;
  width:428px;
  height:61px;
  display:flex;
}
#u3221 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:8px;
}
#u3222 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:384px;
  width:150px;
  height:39px;
  display:flex;
  font-size:8px;
}
#u3222 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:61px;
}
#u3223 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:473px;
  width:428px;
  height:61px;
  display:flex;
}
#u3223 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:8px;
}
#u3224 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:484px;
  width:150px;
  height:39px;
  display:flex;
  font-size:8px;
}
#u3224 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u3225 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:11px;
  width:375px;
  height:834px;
  display:flex;
}
#u3225 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3226 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:529px;
  width:408px;
  height:344px;
  display:flex;
}
#u3226 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:95px;
}
#u3227 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:632px;
  width:370px;
  height:95px;
  display:flex;
}
#u3227 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:87px;
}
#u3228 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:906px;
  width:370px;
  height:87px;
  display:flex;
}
#u3228 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:189px;
}
#u3229 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:443px;
  width:370px;
  height:189px;
  display:flex;
}
#u3229 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0075FB;
}
#u3230 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:470px;
  width:124px;
  height:30px;
  display:flex;
  color:#0075FB;
}
#u3230 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3231 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:598px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u3231 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
}
#u3232 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:606px;
  width:326px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
}
#u3232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:189px;
}
#u3233 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:717px;
  width:370px;
  height:189px;
  display:flex;
}
#u3233 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0075FB;
}
#u3234 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:744px;
  width:124px;
  height:30px;
  display:flex;
  color:#0075FB;
}
#u3234 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3235 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:872px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u3235 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u3235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
}
#u3236 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:880px;
  width:326px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
}
#u3236 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
