body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-11px;
  width:1354px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:480px;
}
#u5399 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:974px;
  height:480px;
  display:flex;
}
#u5399 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5400 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:357px;
  width:452px;
  height:123px;
  display:flex;
}
#u5400 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u5401 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:357px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u5401 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u5402 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:434px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u5402 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u5403 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:534px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u5403 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u5404 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:459px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u5404 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5406 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:351px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u5406 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u5406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u5407 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:361px;
  width:225px;
  height:10px;
  display:flex;
  font-size:8px;
}
#u5407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5408 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:453px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u5408 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u5408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u5409 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:463px;
  width:221px;
  height:10px;
  display:flex;
  font-size:8px;
}
#u5409 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:61px;
}
#u5410 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:373px;
  width:428px;
  height:61px;
  display:flex;
}
#u5410 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:8px;
}
#u5411 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:384px;
  width:150px;
  height:39px;
  display:flex;
  font-size:8px;
}
#u5411 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:61px;
}
#u5412 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:473px;
  width:428px;
  height:61px;
  display:flex;
}
#u5412 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:8px;
}
#u5413 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:484px;
  width:150px;
  height:39px;
  display:flex;
  font-size:8px;
}
#u5413 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u5414 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:11px;
  width:375px;
  height:834px;
  display:flex;
}
#u5414 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5415 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:529px;
  width:408px;
  height:344px;
  display:flex;
}
#u5415 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:95px;
}
#u5416 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:632px;
  width:370px;
  height:95px;
  display:flex;
}
#u5416 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:87px;
}
#u5417 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:906px;
  width:370px;
  height:87px;
  display:flex;
}
#u5417 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:189px;
}
#u5418 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:443px;
  width:370px;
  height:189px;
  display:flex;
}
#u5418 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0075FB;
}
#u5419 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:470px;
  width:124px;
  height:30px;
  display:flex;
  color:#0075FB;
}
#u5419 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5420 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:598px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u5420 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u5420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
}
#u5421 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:606px;
  width:326px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
}
#u5421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:189px;
}
#u5422 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:717px;
  width:370px;
  height:189px;
  display:flex;
}
#u5422 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0075FB;
}
#u5423 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:744px;
  width:124px;
  height:30px;
  display:flex;
  color:#0075FB;
}
#u5423 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5424 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:872px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u5424 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u5424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
}
#u5425 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:880px;
  width:326px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
}
#u5425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
