body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-11px;
  width:1354px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:480px;
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:974px;
  height:480px;
  display:flex;
}
#u4848 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:357px;
  width:452px;
  height:123px;
  display:flex;
}
#u4849 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u4850 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:357px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u4850 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u4851 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:434px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u4851 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:534px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u4852 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u4853 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:459px;
  width:81px;
  height:18px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u4853 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4855 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:351px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u4855 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u4856 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:361px;
  width:225px;
  height:10px;
  display:flex;
  font-size:8px;
}
#u4856 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4857 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:453px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u4857 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u4858 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:463px;
  width:221px;
  height:10px;
  display:flex;
  font-size:8px;
}
#u4858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:61px;
}
#u4859 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:373px;
  width:428px;
  height:61px;
  display:flex;
}
#u4859 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:8px;
}
#u4860 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:384px;
  width:150px;
  height:39px;
  display:flex;
  font-size:8px;
}
#u4860 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:61px;
}
#u4861 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:473px;
  width:428px;
  height:61px;
  display:flex;
}
#u4861 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:8px;
}
#u4862 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:484px;
  width:150px;
  height:39px;
  display:flex;
  font-size:8px;
}
#u4862 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u4863 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:11px;
  width:375px;
  height:834px;
  display:flex;
}
#u4863 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4864 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:529px;
  width:408px;
  height:344px;
  display:flex;
}
#u4864 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:95px;
}
#u4865 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:632px;
  width:370px;
  height:95px;
  display:flex;
}
#u4865 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:87px;
}
#u4866 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:906px;
  width:370px;
  height:87px;
  display:flex;
}
#u4866 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:189px;
}
#u4867 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:443px;
  width:370px;
  height:189px;
  display:flex;
}
#u4867 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0075FB;
}
#u4868 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:470px;
  width:124px;
  height:30px;
  display:flex;
  color:#0075FB;
}
#u4868 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4869 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:598px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u4869 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
}
#u4870 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:606px;
  width:326px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
}
#u4870 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:189px;
}
#u4871 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:717px;
  width:370px;
  height:189px;
  display:flex;
}
#u4871 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0075FB;
}
#u4872 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:744px;
  width:124px;
  height:30px;
  display:flex;
  color:#0075FB;
}
#u4872 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4873 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:872px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#0079FE;
  text-align:left;
}
#u4873 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u4873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:880px;
  width:326px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
}
#u4874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
