body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1900px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:438px;
}
#u3933 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:146px;
  width:878px;
  height:438px;
  display:flex;
}
#u3933 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u3934 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:386px;
  width:49px;
  height:20px;
  display:flex;
  font-size:8px;
  color:#FFFFFF;
}
#u3934 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u3935 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:421px;
  width:503px;
  height:119px;
  display:flex;
  color:#000000;
}
#u3935 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
