body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-110px;
  width:1205px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:833px;
}
#u8268 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:110px;
  width:375px;
  height:833px;
  display:flex;
}
#u8268 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8269 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:527px;
  width:334px;
  height:45px;
  display:flex;
}
#u8269 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
}
#u8270 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:527px;
  width:300px;
  height:45px;
  display:flex;
}
#u8270 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(48, 113, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8271 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:542px;
  width:73px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u8271 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:230px;
}
#u8272 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:262px;
  width:350px;
  height:230px;
  display:flex;
}
#u8272 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  background:linear-gradient(180deg, rgba(221, 227, 249, 1) 0%, rgba(248, 249, 253, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8273 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:349px;
  width:187px;
  height:32px;
  display:flex;
}
#u8273 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:307px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8274 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:349px;
  width:310px;
  height:307px;
  display:flex;
}
#u8274 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#D9001B;
  text-align:left;
}
#u8275 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:462px;
  width:165px;
  height:30px;
  display:flex;
  font-size:16px;
  color:#D9001B;
  text-align:left;
}
#u8275 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
