body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-84px;
  width:1050px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:635px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u19832 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:169px;
  width:1019px;
  height:635px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u19832 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u19832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u19833 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:129px;
  width:1019px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u19833 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u19833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19834 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:260px;
  width:986px;
  height:313px;
}
#u19835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
}
#u19835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u19835 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:44px;
}
#u19836 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:368px;
  height:44px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19836 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
}
#u19837 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:0px;
  width:125px;
  height:44px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u19837 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:44px;
}
#u19838 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:0px;
  width:368px;
  height:44px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19838 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u19839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u19839 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u19840 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:44px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19840 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u19841 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:44px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u19841 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u19842 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:44px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19842 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u19843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u19843 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u19844 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:100px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19844 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u19845 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:100px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u19845 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u19846 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:100px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19846 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u19847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u19847 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u19848 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:156px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19848 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u19849 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:156px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u19849 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u19850 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:156px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19850 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u19851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u19851 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u19852 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:212px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19852 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u19853 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:212px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u19853 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u19854 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:212px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19854 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u19855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:125px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u19855 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:45px;
}
#u19856 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:268px;
  width:368px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19856 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u19857 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:268px;
  width:125px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u19857 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:45px;
}
#u19858 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:268px;
  width:368px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u19858 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u19859 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:129px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u19859 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19859_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u19859.mouseOver {
}
#u19859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
