body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-84px;
  width:1050px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u21259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:635px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u21259 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:169px;
  width:1019px;
  height:635px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u21259 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u21259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u21260 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:129px;
  width:1019px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u21260 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u21260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21261 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:260px;
  width:986px;
  height:313px;
}
#u21262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
}
#u21262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u21262 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:44px;
}
#u21263 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:368px;
  height:44px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21263 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:44px;
}
#u21264 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:0px;
  width:125px;
  height:44px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u21264 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:44px;
}
#u21265 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:0px;
  width:368px;
  height:44px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21265 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u21266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u21266 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u21267 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:44px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21267 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u21268 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:44px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u21268 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u21269 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:44px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21269 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u21270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u21270 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u21271 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:100px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21271 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u21272 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:100px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u21272 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u21273 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:100px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21273 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u21274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u21274 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u21275 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:156px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21275 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u21276 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:156px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u21276 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u21277 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:156px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21277 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u21278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u21278 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u21279 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:212px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21279 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u21280 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:212px;
  width:125px;
  height:56px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u21280 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:56px;
}
#u21281 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:212px;
  width:368px;
  height:56px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21281 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u21282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:125px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u21282 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:45px;
}
#u21283 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:268px;
  width:368px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21283 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:45px;
}
#u21284 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:268px;
  width:125px;
  height:45px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u21284 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:45px;
}
#u21285 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:268px;
  width:368px;
  height:45px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u21285 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u21286 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:129px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u21286 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21286_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u21286.mouseOver {
}
#u21286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
