body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-118px;
  width:1311px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:2610px;
}
#u5415 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:120px;
  width:613px;
  height:2610px;
  display:flex;
}
#u5415 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:1629px;
}
#u5416 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:120px;
  width:612px;
  height:1629px;
  display:flex;
}
#u5416 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:42px;
}
#u5417 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:67px;
  width:1311px;
  height:42px;
  display:flex;
}
#u5417 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5418 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:2278px;
  width:109px;
  height:40px;
  display:flex;
  text-align:right;
}
#u5418 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u5419 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:2288px;
  width:20px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u5419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5420 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:2278px;
  width:136px;
  height:40px;
  display:flex;
}
#u5420 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5421 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:2327px;
  width:385px;
  height:38px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5422_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:110px;
  height:110px;
}
#u5422 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:679px;
  width:100px;
  height:100px;
  display:flex;
}
#u5422 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:117px;
  background:inherit;
  background-color:rgba(149, 242, 4, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5423 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:517px;
  width:282px;
  height:117px;
  display:flex;
}
#u5423 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
