body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-26px;
  width:2251px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:554px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:217px;
  width:239px;
  height:554px;
  display:flex;
}
#u509 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:375px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:229px;
  width:539px;
  height:375px;
  display:flex;
}
#u510 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:13px;
  color:#000000;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:369px;
  height:199px;
  display:flex;
  font-size:13px;
  color:#000000;
}
#u511 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:768px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:111px;
  width:1462px;
  height:768px;
  display:flex;
}
#u512 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:163px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:687px;
  width:662px;
  height:163px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u513 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:687px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:2px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:717px;
  width:995px;
  height:1px;
  display:flex;
}
#u515 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:736px;
  width:416px;
  height:165px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u517 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:736px;
  width:355px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u518 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:910px;
  width:178px;
  height:19px;
  display:flex;
}
#u519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:1644px;
  top:1026px;
  width:122px;
  height:28px;
  display:flex;
  color:#999999;
}
#u520 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:1585px;
  top:984px;
  width:174px;
  height:28px;
  display:flex;
  color:#999999;
}
#u521 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:941px;
  width:284px;
  height:28px;
  display:flex;
  color:#999999;
}
#u522 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:1026px;
  width:191px;
  height:28px;
  display:flex;
  color:#999999;
}
#u523 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:1737px;
  top:941px;
  width:108px;
  height:28px;
  display:flex;
  color:#999999;
}
#u524 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:984px;
  width:132px;
  height:28px;
  display:flex;
  color:#999999;
}
#u525 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:740px;
  width:11px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u526 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
