body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1506px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:718px;
}
#u7173 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:68px;
  width:1506px;
  height:718px;
  display:flex;
}
#u7173 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:375px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#D9001B;
}
#u7174 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:319px;
  width:826px;
  height:375px;
  display:flex;
  font-size:48px;
  color:#D9001B;
}
#u7174 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7175 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:734px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u7175 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
