body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-128px;
  width:820px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22274 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:37px;
  width:816px;
  height:836px;
}
#u22274_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:836px;
  overflow:auto;
}
