body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-26px;
  width:1961px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:883px;
}
#u6822 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:32px;
  width:1903px;
  height:883px;
  display:flex;
}
#u6822 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#D9001B;
}
#u6823 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:150px;
  width:480px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#D9001B;
}
#u6823 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#D9001B;
}
#u6824 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:132px;
  width:480px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#D9001B;
}
#u6824 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6825_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:564px;
  height:7px;
}
#u6825 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:879px;
  width:560px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(0.284343965942449deg);
  -moz-transform:rotate(0.284343965942449deg);
  -ms-transform:rotate(0.284343965942449deg);
  transform:rotate(0.284343965942449deg);
}
#u6825 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1880px;
  height:884px;
}
#u6826 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:1166px;
  width:1880px;
  height:884px;
  display:flex;
}
#u6826 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1880px;
  height:865px;
}
#u6827 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:3100px;
  width:1880px;
  height:865px;
  display:flex;
}
#u6827 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:2px;
}
#u6828 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:3212px;
  width:190px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.319475598292087deg);
  -moz-transform:rotate(0.319475598292087deg);
  -ms-transform:rotate(0.319475598292087deg);
  transform:rotate(0.319475598292087deg);
}
#u6828 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u6829 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:3174px;
  width:128px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D9001B;
}
#u6829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u6830 {
  border-width:0px;
  position:absolute;
  left:1500px;
  top:3266px;
  width:298px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u6830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u6831 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:3251px;
  width:278px;
  height:1px;
  display:flex;
}
#u6831 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u6832 {
  border-width:0px;
  position:absolute;
  left:1503px;
  top:3470px;
  width:131px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u6832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:2px;
}
#u6833 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:3459px;
  width:132px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.225750524114852deg);
  -moz-transform:rotate(-0.225750524114852deg);
  -ms-transform:rotate(-0.225750524114852deg);
  transform:rotate(-0.225750524114852deg);
}
#u6833 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:2px;
}
#u6834 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:3702px;
  width:132px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.225750524114852deg);
  -moz-transform:rotate(-0.225750524114852deg);
  -ms-transform:rotate(-0.225750524114852deg);
  transform:rotate(-0.225750524114852deg);
}
#u6834 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u6835 {
  border-width:0px;
  position:absolute;
  left:1500px;
  top:3712px;
  width:131px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u6835 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1611px;
  height:770px;
}
#u6836 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:4075px;
  width:1611px;
  height:770px;
  display:flex;
}
#u6836 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:2px;
}
#u6837 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:4245px;
  width:90px;
  height:1px;
  display:flex;
}
#u6837 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u6838 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:4204px;
  width:131px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u6838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:2px;
}
#u6839 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:4241px;
  width:90px;
  height:1px;
  display:flex;
}
#u6839 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u6840 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:4204px;
  width:131px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u6840 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1925px;
  height:855px;
}
#u6841 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:2148px;
  width:1925px;
  height:855px;
  display:flex;
}
#u6841 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6842_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:169px;
  height:7px;
}
#u6842 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:2832px;
  width:165px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(0.855097396266775deg);
  -moz-transform:rotate(0.855097396266775deg);
  -ms-transform:rotate(0.855097396266775deg);
  transform:rotate(0.855097396266775deg);
}
#u6842 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1598px;
  height:757px;
}
#u6843 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:4936px;
  width:1598px;
  height:757px;
  display:flex;
}
#u6843 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6844_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:84px;
  height:5px;
}
#u6844 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:5198px;
  width:81px;
  height:2px;
  display:flex;
}
#u6844 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6845 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:5132px;
  width:141px;
  height:19px;
  display:flex;
}
#u6845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1626px;
  height:750px;
}
#u6846 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:5693px;
  width:1626px;
  height:750px;
  display:flex;
}
#u6846 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6847_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:7px;
}
#u6847 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:6129px;
  width:62px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(1.33221985387061deg);
  -moz-transform:rotate(1.33221985387061deg);
  -ms-transform:rotate(1.33221985387061deg);
  transform:rotate(1.33221985387061deg);
}
#u6847 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u6848 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:6154px;
  width:66px;
  height:19px;
  display:flex;
  color:#D9001B;
}
#u6848 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6849_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:7px;
}
#u6849 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:6129px;
  width:62px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(1.33221985387061deg);
  -moz-transform:rotate(1.33221985387061deg);
  -ms-transform:rotate(1.33221985387061deg);
  transform:rotate(1.33221985387061deg);
}
#u6849 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u6850 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:6154px;
  width:66px;
  height:19px;
  display:flex;
  color:#D9001B;
}
#u6850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6851_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:564px;
  height:7px;
}
#u6851 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:111px;
  width:560px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(0.284343965942449deg);
  -moz-transform:rotate(0.284343965942449deg);
  -ms-transform:rotate(0.284343965942449deg);
  transform:rotate(0.284343965942449deg);
}
#u6851 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6852_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:326px;
  height:7px;
}
#u6852 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:218px;
  width:322px;
  height:3px;
  display:flex;
}
#u6852 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
