body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:749px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-86px;
  width:300px;
  height:19px;
  display:flex;
}
#u2188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:845px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:50px;
  width:814px;
  height:845px;
  display:flex;
}
#u2189 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
