body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-27px;
  width:1500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:715px;
}
#u8766 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:1500px;
  height:715px;
  display:flex;
}
#u8766 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:375px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#D9001B;
}
#u8767 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:240px;
  width:907px;
  height:375px;
  display:flex;
  font-size:72px;
  color:#D9001B;
}
#u8767 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8768 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:669px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u8768 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
