body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-53px;
  width:1497px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1497px;
  height:720px;
}
#u9009 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:25px;
  width:1497px;
  height:720px;
  display:flex;
}
#u9009 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:316px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#D9001B;
}
#u9010 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:364px;
  width:911px;
  height:316px;
  display:flex;
  font-size:72px;
  color:#D9001B;
}
#u9010 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9011 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:695px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u9011 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
