body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-281px;
  width:2096px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u6661 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:2428px;
  width:109px;
  height:40px;
  display:flex;
  text-align:right;
}
#u6661 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u6662 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:2438px;
  width:20px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u6662 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6663 {
  border-width:0px;
  position:absolute;
  left:1635px;
  top:2428px;
  width:136px;
  height:40px;
  display:flex;
}
#u6663 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6664 {
  border-width:0px;
  position:absolute;
  left:1635px;
  top:2477px;
  width:385px;
  height:38px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6664 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6665 {
  border-width:0px;
  position:absolute;
  left:2227px;
  top:262px;
  width:150px;
  height:232px;
  display:flex;
}
#u6665 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6666 {
  border-width:0px;
  position:absolute;
  left:2027px;
  top:2477px;
  width:24px;
  height:19px;
  display:flex;
}
#u6666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:899px;
}
#u6667 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:217px;
  width:1920px;
  height:899px;
  display:flex;
}
#u6667 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6668 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1042px;
  width:1126px;
  height:135px;
  display:flex;
}
#u6668 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6669 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1057px;
  width:203px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6670 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:1048px;
  width:7px;
  height:38px;
  display:flex;
}
#u6670 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u6671 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:1054px;
  width:20px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u6671 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6672 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1105px;
  width:136px;
  height:40px;
  display:flex;
}
#u6672 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 240, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0677D7;
}
#u6673 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1163px;
  width:339px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0677D7;
}
#u6673 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 240, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0677D7;
}
#u6674 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1207px;
  width:339px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0677D7;
}
#u6674 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:72px;
}
#u6675 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:1165px;
  width:35px;
  height:72px;
  display:flex;
}
#u6675 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
