body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-281px;
  width:2096px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5563 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:2428px;
  width:109px;
  height:40px;
  display:flex;
  text-align:right;
}
#u5563 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u5564 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:2438px;
  width:20px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u5564 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5565 {
  border-width:0px;
  position:absolute;
  left:1635px;
  top:2428px;
  width:136px;
  height:40px;
  display:flex;
}
#u5565 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5566 {
  border-width:0px;
  position:absolute;
  left:1635px;
  top:2477px;
  width:385px;
  height:38px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5567 {
  border-width:0px;
  position:absolute;
  left:2227px;
  top:262px;
  width:150px;
  height:232px;
  display:flex;
}
#u5567 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5568 {
  border-width:0px;
  position:absolute;
  left:2027px;
  top:2477px;
  width:24px;
  height:19px;
  display:flex;
}
#u5568 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:899px;
}
#u5569 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:217px;
  width:1920px;
  height:899px;
  display:flex;
}
#u5569 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5570 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1042px;
  width:1126px;
  height:135px;
  display:flex;
}
#u5570 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5571 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1057px;
  width:203px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5572 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:1048px;
  width:7px;
  height:38px;
  display:flex;
}
#u5572 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u5573 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:1054px;
  width:20px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u5573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5574 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1105px;
  width:136px;
  height:40px;
  display:flex;
}
#u5574 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 240, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0677D7;
}
#u5575 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1163px;
  width:339px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0677D7;
}
#u5575 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 240, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0677D7;
}
#u5576 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1207px;
  width:339px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0677D7;
}
#u5576 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:72px;
}
#u5577 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:1165px;
  width:35px;
  height:72px;
  display:flex;
}
#u5577 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
