body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:984px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:469px;
}
#u5947 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:42px;
  width:984px;
  height:469px;
  display:flex;
}
#u5947 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5948 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:277px;
  width:318px;
  height:207px;
  display:flex;
}
#u5948 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
