body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:1502px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:719px;
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:29px;
  width:1502px;
  height:719px;
  display:flex;
}
#u5616 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5617_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:9px;
}
#u5617 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:358px;
  width:56px;
  height:4px;
  display:flex;
}
#u5617 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5618_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:417px;
  width:305px;
  height:4px;
  display:flex;
}
#u5618 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5619_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:468px;
  width:305px;
  height:4px;
  display:flex;
}
#u5619 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5620 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:695px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u5620 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
