body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:1502px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:719px;
}
#u7254 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:29px;
  width:1502px;
  height:719px;
  display:flex;
}
#u7254 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7255_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:9px;
}
#u7255 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:358px;
  width:56px;
  height:4px;
  display:flex;
}
#u7255 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7256_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u7256 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:417px;
  width:305px;
  height:4px;
  display:flex;
}
#u7256 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7257_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u7257 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:468px;
  width:305px;
  height:4px;
  display:flex;
}
#u7257 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7258 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:695px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u7258 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
