body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-78px;
  width:1228px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:1567px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12387 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:84px;
  width:1228px;
  height:1567px;
  display:flex;
}
#u12387 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12388 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:49px;
  width:1228px;
  height:50px;
  display:flex;
}
#u12388 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u12389 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:65px;
  width:780px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u12389 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u12390 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u12390 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12390_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u12390.mouseOver {
}
#u12390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12391 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:205px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12391 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12393 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:206px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12393 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u12393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12394 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:212px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u12394 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:166px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u12396 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:583px;
  width:831px;
  height:166px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u12396 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u12396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12397 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:586px;
  width:70px;
  height:20px;
  display:flex;
  text-align:right;
}
#u12397 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12397_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12398 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:586px;
  width:11px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u12398 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12399 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1223px;
  width:128px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12399 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12401 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:1223px;
  width:180px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12401 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u12401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u12402 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:1232px;
  width:24px;
  height:23px;
  display:flex;
}
#u12402 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12403 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:1237px;
  width:29px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u12403 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12404 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:268px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12404 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12406 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:269px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12406 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u12406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12407 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:275px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u12407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12408 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:331px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12408 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12410 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:332px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12410 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u12410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12411 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:338px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u12411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12412 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:391px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12412 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12414 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:392px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12414 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u12414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12415 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:391px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u12415 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12416 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:1299px;
  width:115px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12416 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12418 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1293px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12418 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u12418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12419 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:1355px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12419 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12421 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1356px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12421 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u12421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12422 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:526px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u12422 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u12424 {
  position:absolute;
  left:0px;
  top:0px;
}
.u12424_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12424_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u12425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.u12425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.u12425 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u12425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u12424_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u12424_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u12426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
.u12426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
.u12426 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u12426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u12427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
.u12427 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:12px;
  width:28px;
  height:23px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:right;
}
.u12427 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u12427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12423-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u12423-2 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:147px;
  height:35px;
}
#u12423-3 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:0px;
  width:147px;
  height:35px;
}
#u12423-4 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:0px;
  width:147px;
  height:35px;
}
#u12423-5 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:0px;
  width:147px;
  height:35px;
}
#u12423-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:147px;
  height:35px;
}
#u12423-7 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:45px;
  width:147px;
  height:35px;
}
#u12423-8 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:45px;
  width:147px;
  height:35px;
}
#u12423-9 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:45px;
  width:147px;
  height:35px;
}
#u12423-10 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:45px;
  width:147px;
  height:35px;
}
#u12423-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:147px;
  height:35px;
}
#u12423-12 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:90px;
  width:147px;
  height:35px;
}
#u12423-13 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:90px;
  width:147px;
  height:35px;
}
#u12423-14 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:90px;
  width:147px;
  height:35px;
}
#u12423-15 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:90px;
  width:147px;
  height:35px;
}
#u12423-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:147px;
  height:35px;
}
#u12423-17 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:135px;
  width:147px;
  height:35px;
}
#u12423-18 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:135px;
  width:147px;
  height:35px;
}
#u12423-19 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:135px;
  width:147px;
  height:35px;
}
#u12423-20 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:135px;
  width:147px;
  height:35px;
}
#u12423-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:147px;
  height:35px;
}
#u12423-22 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:180px;
  width:147px;
  height:35px;
}
#u12423-23 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:180px;
  width:147px;
  height:35px;
}
#u12423-24 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:180px;
  width:147px;
  height:35px;
}
#u12423-25 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:180px;
  width:147px;
  height:35px;
}
#u12423 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:979px;
  width:775px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
}
#u12428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12428 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:979px;
  width:98px;
  height:20px;
  display:flex;
  text-align:right;
}
#u12428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12428_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12429 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:979px;
  width:11px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u12429 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12430 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1224px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u12430 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:43px;
  background:inherit;
  background-color:rgba(4, 217, 25, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u12431 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:6px;
  width:254px;
  height:43px;
  display:flex;
}
#u12431 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u12431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12432 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:453px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12432 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12434 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:454px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12434 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u12434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12435 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:512px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12435 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12437 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:513px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12437 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u12437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:166px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u12439 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:773px;
  width:831px;
  height:166px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u12439 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u12439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u12440 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:776px;
  width:70px;
  height:20px;
  display:flex;
  text-align:right;
}
#u12440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12440_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12441 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:776px;
  width:11px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u12441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u12442 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:1552px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u12442 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12442_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u12442.mouseDown {
  opacity:0.8;
}
#u12442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
