body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-78px;
  width:1228px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:1567px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7040 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:84px;
  width:1228px;
  height:1567px;
  display:flex;
}
#u7040 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7041 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:49px;
  width:1228px;
  height:50px;
  display:flex;
}
#u7041 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u7042 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:65px;
  width:780px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u7042 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7043 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7043 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7043_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7043.mouseOver {
}
#u7043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7044 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:205px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7044 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7046 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:206px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7046 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7047 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:212px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u7047 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:166px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u7049 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:583px;
  width:831px;
  height:166px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u7049 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7050 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:586px;
  width:70px;
  height:20px;
  display:flex;
  text-align:right;
}
#u7050 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7050_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7051 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:586px;
  width:11px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u7051 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7052 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1223px;
  width:128px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7052 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7054 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:1223px;
  width:180px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7054 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u7055 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:1232px;
  width:24px;
  height:23px;
  display:flex;
}
#u7055 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7056 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:1237px;
  width:29px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u7056 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7057 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:268px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7057 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7059 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:269px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7059 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7060 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:275px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u7060 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7061 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:331px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7061 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7063 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:332px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7063 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7064 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:338px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u7064 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7065 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:391px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7065 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7067 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:392px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7067 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7068 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:391px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u7068 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7069 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:1299px;
  width:115px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7069 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7071 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1293px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7071 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7072 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:1355px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7072 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7074 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1356px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7074 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7075 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:526px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u7075 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u7077 {
  position:absolute;
  left:0px;
  top:0px;
}
.u7077_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7077_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.u7078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.u7078 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u7078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u7077_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u7077_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u7079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
.u7079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
.u7079 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u7079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u7080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
.u7080 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:12px;
  width:28px;
  height:23px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:right;
}
.u7080 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u7080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7076-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u7076-2 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:147px;
  height:35px;
}
#u7076-3 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:0px;
  width:147px;
  height:35px;
}
#u7076-4 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:0px;
  width:147px;
  height:35px;
}
#u7076-5 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:0px;
  width:147px;
  height:35px;
}
#u7076-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:147px;
  height:35px;
}
#u7076-7 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:45px;
  width:147px;
  height:35px;
}
#u7076-8 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:45px;
  width:147px;
  height:35px;
}
#u7076-9 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:45px;
  width:147px;
  height:35px;
}
#u7076-10 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:45px;
  width:147px;
  height:35px;
}
#u7076-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:147px;
  height:35px;
}
#u7076-12 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:90px;
  width:147px;
  height:35px;
}
#u7076-13 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:90px;
  width:147px;
  height:35px;
}
#u7076-14 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:90px;
  width:147px;
  height:35px;
}
#u7076-15 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:90px;
  width:147px;
  height:35px;
}
#u7076-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:147px;
  height:35px;
}
#u7076-17 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:135px;
  width:147px;
  height:35px;
}
#u7076-18 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:135px;
  width:147px;
  height:35px;
}
#u7076-19 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:135px;
  width:147px;
  height:35px;
}
#u7076-20 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:135px;
  width:147px;
  height:35px;
}
#u7076-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:147px;
  height:35px;
}
#u7076-22 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:180px;
  width:147px;
  height:35px;
}
#u7076-23 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:180px;
  width:147px;
  height:35px;
}
#u7076-24 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:180px;
  width:147px;
  height:35px;
}
#u7076-25 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:180px;
  width:147px;
  height:35px;
}
#u7076 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:979px;
  width:775px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
}
#u7081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7081 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:979px;
  width:98px;
  height:20px;
  display:flex;
  text-align:right;
}
#u7081 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7081_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7082 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:979px;
  width:11px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u7082 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7083 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1224px;
  width:24px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u7083 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:43px;
  background:inherit;
  background-color:rgba(4, 217, 25, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7084 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:6px;
  width:254px;
  height:43px;
  display:flex;
}
#u7084 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7085 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:453px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7085 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7087 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:454px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7087 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7088 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:512px;
  width:125px;
  height:40px;
  display:flex;
  text-align:right;
}
#u7088 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7090 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:513px;
  width:825px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u7090 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:166px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u7092 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:773px;
  width:831px;
  height:166px;
  display:flex;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u7092 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7093 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:776px;
  width:70px;
  height:20px;
  display:flex;
  text-align:right;
}
#u7093 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7093_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7094 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:776px;
  width:11px;
  height:25px;
  display:flex;
  font-size:20px;
  color:#FF0000;
}
#u7094 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u7095 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:1552px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u7095 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7095_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u7095.mouseDown {
  opacity:0.8;
}
#u7095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
