body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1401px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:703px;
}
#u9281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-11px;
  width:1401px;
  height:703px;
  display:flex;
}
#u9281 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:272px;
  background:inherit;
  background-color:rgba(217, 0, 27, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#D9001B;
}
#u9282 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:145px;
  width:538px;
  height:272px;
  display:flex;
  font-size:72px;
  color:#D9001B;
}
#u9282 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9283 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:93px;
  width:98px;
  height:21px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:2px;
}
#u9284 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:102px;
  width:46px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.501325276761838deg);
  -moz-transform:rotate(-0.501325276761838deg);
  -ms-transform:rotate(-0.501325276761838deg);
  transform:rotate(-0.501325276761838deg);
}
#u9284 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
