body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:562px;
}
#u7313 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:29px;
  width:1200px;
  height:562px;
  display:flex;
}
#u7313 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u7314 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:338px;
  width:152px;
  height:18px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u7314 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7314_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:583px;
}
#u7315 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:548px;
  width:1200px;
  height:583px;
  display:flex;
}
#u7315 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u7316 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:29px;
  width:375px;
  height:834px;
  display:flex;
}
#u7316 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u7317 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:468px;
  width:142px;
  height:18px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u7317 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7317_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u7318 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:780px;
  width:152px;
  height:18px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u7318 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7318_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:834px;
}
#u7319 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:60px;
  width:375px;
  height:834px;
  display:flex;
}
#u7319 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u7320 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:461px;
  width:142px;
  height:18px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:18px;
}
#u7320 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7320_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u7321 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:29px;
  width:149px;
  height:36px;
  display:flex;
  color:#000000;
}
#u7321 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u7322 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:60px;
  width:149px;
  height:36px;
  display:flex;
  color:#000000;
}
#u7322 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u7323 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:29px;
  width:149px;
  height:36px;
  display:flex;
  color:#000000;
}
#u7323 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u7324 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:542px;
  width:149px;
  height:36px;
  display:flex;
  color:#000000;
}
#u7324 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
