body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1923px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:653px;
}
#u8594 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:1348px;
  height:653px;
  display:flex;
}
#u8594 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8595_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:9px;
}
#u8595 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:208px;
  width:109px;
  height:4px;
  display:flex;
}
#u8595 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8596_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u8596 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:318px;
  width:305px;
  height:4px;
  display:flex;
}
#u8596 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8597 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:628px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u8597 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#A30014;
}
#u8598 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:94px;
  width:271px;
  height:478px;
  display:flex;
  color:#A30014;
}
#u8598 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u8599 {
  border-width:0px;
  position:absolute;
  left:1662px;
  top:94px;
  width:271px;
  height:478px;
  display:flex;
  color:#000000;
}
#u8599 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8600 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:427px;
  width:107px;
  height:19px;
  display:flex;
}
#u8600 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8601_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:22px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8601_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:22px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8601 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:426px;
  width:494px;
  height:22px;
  display:flex;
}
#u8601 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8601_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8601.disabled {
}
.u8601_input_option {
}
