body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1923px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:653px;
}
#u9304 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:1348px;
  height:653px;
  display:flex;
}
#u9304 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9305_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:114px;
  height:9px;
}
#u9305 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:208px;
  width:109px;
  height:4px;
  display:flex;
}
#u9305 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9306_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u9306 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:318px;
  width:305px;
  height:4px;
  display:flex;
}
#u9306 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9307 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:628px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u9307 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#A30014;
}
#u9308 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:94px;
  width:271px;
  height:478px;
  display:flex;
  color:#A30014;
}
#u9308 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#000000;
}
#u9309 {
  border-width:0px;
  position:absolute;
  left:1662px;
  top:94px;
  width:271px;
  height:478px;
  display:flex;
  color:#000000;
}
#u9309 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9310 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:427px;
  width:107px;
  height:19px;
  display:flex;
}
#u9310 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9311_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:22px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9311_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:22px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9311 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:426px;
  width:494px;
  height:22px;
  display:flex;
}
#u9311 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9311_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9311.disabled {
}
.u9311_input_option {
}
