body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:1718px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:474px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:21px;
  width:1003px;
  height:474px;
  display:flex;
}
#u2128 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:215px;
  width:240px;
  height:25px;
  display:flex;
}
#u2129 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:224px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2130 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:289px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2131 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:251px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2132 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:251px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2133 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:1517px;
  top:270px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2134 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:289px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2135 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:224px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2136 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:224px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2137 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:251px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2138 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:251px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2139 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:289px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2140 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:212px;
  width:84px;
  height:31px;
  display:flex;
}
#u2141 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:218px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2142 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:1451px;
  top:463px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2143 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:457px;
  width:98px;
  height:31px;
  display:flex;
}
#u2144 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:218px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2145 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:845px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:334px;
  width:814px;
  height:845px;
  display:flex;
}
#u2146 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:251px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2147 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:224px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2148 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:218px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2149 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:289px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2150 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:251px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2151 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:224px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2152 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:224px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2153 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:224px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2154 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#0079FE;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:218px;
  width:119px;
  height:12px;
  display:flex;
  font-size:9px;
  color:#0079FE;
}
#u2155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:291px;
  width:84px;
  height:31px;
  display:flex;
}
#u2156 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#0079FE;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:1616px;
  top:289px;
  width:119px;
  height:12px;
  display:flex;
  font-size:9px;
  color:#0079FE;
}
#u2157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:251px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2158 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:390px;
  width:39px;
  height:20px;
  display:flex;
}
#u2159 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:234px;
  width:44px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2160 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2160_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2160.mouseOver {
  opacity:0.8;
}
#u2160_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2160.mouseDown {
  opacity:1;
}
#u2160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:270px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2161 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:289px;
  width:91px;
  height:19px;
  display:flex;
  font-size:8px;
  color:#AAAAAA;
  text-align:left;
}
#u2162 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 6px;
  box-sizing:border-box;
  width:100%;
}
#u2162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
