body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-43px;
  width:2293px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:540px;
}
#u9193 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:98px;
  width:1137px;
  height:540px;
  display:flex;
}
#u9193 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u9194 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:114px;
  width:150px;
  height:150px;
  display:flex;
}
#u9194 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:574px;
}
#u9195 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:619px;
  width:1130px;
  height:574px;
  display:flex;
}
#u9195 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:614px;
}
#u9196 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:145px;
  width:1340px;
  height:614px;
  display:flex;
}
#u9196 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:2px;
}
#u9197 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:527px;
  width:154px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-179.322027988573deg);
  -moz-transform:rotate(-179.322027988573deg);
  -ms-transform:rotate(-179.322027988573deg);
  transform:rotate(-179.322027988573deg);
}
#u9197 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
