body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-8px;
  width:1504px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:713px;
}
#u8341 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:16px;
  width:1504px;
  height:713px;
  display:flex;
}
#u8341 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8342_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:9px;
}
#u8342 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:284px;
  width:56px;
  height:4px;
  display:flex;
}
#u8342 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8343_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u8343 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:333px;
  width:305px;
  height:4px;
  display:flex;
}
#u8343 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8344_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u8344 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:394px;
  width:305px;
  height:4px;
  display:flex;
}
#u8344 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8345_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u8345 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:477px;
  width:305px;
  height:4px;
  display:flex;
}
#u8345 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8346_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u8346 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:438px;
  width:305px;
  height:4px;
  display:flex;
}
#u8346 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8347 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:685px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u8347 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
