body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-8px;
  width:1504px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:713px;
}
#u8869 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:16px;
  width:1504px;
  height:713px;
  display:flex;
}
#u8869 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8870_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:9px;
}
#u8870 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:284px;
  width:56px;
  height:4px;
  display:flex;
}
#u8870 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8871_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u8871 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:333px;
  width:305px;
  height:4px;
  display:flex;
}
#u8871 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8872_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u8872 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:394px;
  width:305px;
  height:4px;
  display:flex;
}
#u8872 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8873_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u8873 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:477px;
  width:305px;
  height:4px;
  display:flex;
}
#u8873 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8874_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u8874 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:438px;
  width:305px;
  height:4px;
  display:flex;
}
#u8874 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8875 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:685px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u8875 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
