body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-8px;
  width:1504px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:713px;
}
#u7953 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:16px;
  width:1504px;
  height:713px;
  display:flex;
}
#u7953 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7954_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:9px;
}
#u7954 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:284px;
  width:56px;
  height:4px;
  display:flex;
}
#u7954 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7955_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u7955 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:333px;
  width:305px;
  height:4px;
  display:flex;
}
#u7955 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7956_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u7956 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:394px;
  width:305px;
  height:4px;
  display:flex;
}
#u7956 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7957_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u7957 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:477px;
  width:305px;
  height:4px;
  display:flex;
}
#u7957 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7958_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u7958 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:438px;
  width:305px;
  height:4px;
  display:flex;
}
#u7958 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7959 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:685px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u7959 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
