body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-8px;
  width:1504px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:713px;
}
#u5764 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:16px;
  width:1504px;
  height:713px;
  display:flex;
}
#u5764 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5765_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:9px;
}
#u5765 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:284px;
  width:56px;
  height:4px;
  display:flex;
}
#u5765 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5766_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u5766 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:333px;
  width:305px;
  height:4px;
  display:flex;
}
#u5766 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5767_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u5767 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:394px;
  width:305px;
  height:4px;
  display:flex;
}
#u5767 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5768_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u5768 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:477px;
  width:305px;
  height:4px;
  display:flex;
}
#u5768 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5769_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:310px;
  height:9px;
}
#u5769 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:438px;
  width:305px;
  height:4px;
  display:flex;
}
#u5769 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5770 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:685px;
  width:91px;
  height:31px;
  display:flex;
  font-size:12px;
}
#u5770 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
