body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-78px;
  width:1228px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:1008px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23228 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:84px;
  width:1228px;
  height:1008px;
  display:flex;
}
#u23228 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23229 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:49px;
  width:1228px;
  height:50px;
  display:flex;
}
#u23229 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23230 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:65px;
  width:780px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23230 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23231 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23231 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23231_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23231.mouseOver {
}
#u23231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u23235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u23235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u23235 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 0px 210px;
  box-sizing:border-box;
  width:100%;
}
.u23235_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u23235.mouseOver {
}
.u23235_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u23235.selected {
}
.u23235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u23236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:25px;
}
.u23236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:61px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:25px;
}
.u23236 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
.u23236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u23237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u23237 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:29px;
  width:142px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u23237 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
.u23237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u23238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23238 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:39px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23238 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u23238_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23238.mouseDown {
}
.u23238_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23238.selected {
}
.u23238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u23239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23239 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:39px;
  width:60px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23239 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u23239_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23239.mouseDown {
}
.u23239_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23239.selected {
}
.u23239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23234-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
}
#u23234-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:876px;
  height:61px;
}
#u23234-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:142px;
  width:876px;
  height:61px;
}
#u23234-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:876px;
  height:61px;
}
#u23234-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:284px;
  width:876px;
  height:61px;
}
#u23234-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:355px;
  width:876px;
  height:61px;
}
#u23234-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:426px;
  width:876px;
  height:61px;
}
#u23234-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:497px;
  width:876px;
  height:61px;
}
#u23234-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:568px;
  width:876px;
  height:61px;
}
#u23234-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:639px;
  width:876px;
  height:61px;
}
#u23234-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:710px;
  width:876px;
  height:61px;
}
#u23234 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:118px;
  width:876px;
  height:771px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
