body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-78px;
  width:1228px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:1008px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23754 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:84px;
  width:1228px;
  height:1008px;
  display:flex;
}
#u23754 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23755 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:49px;
  width:1228px;
  height:50px;
  display:flex;
}
#u23755 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23756 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:65px;
  width:780px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u23756 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23757 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23757 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23757_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u23757.mouseOver {
}
#u23757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u23761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u23761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u23761 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 0px 210px;
  box-sizing:border-box;
  width:100%;
}
.u23761_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u23761.mouseOver {
}
.u23761_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u23761.selected {
}
.u23761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u23762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:25px;
}
.u23762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:61px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:25px;
}
.u23762 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
.u23762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u23763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u23763 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:29px;
  width:142px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u23763 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
.u23763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u23764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23764 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:39px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23764 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u23764_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23764.mouseDown {
}
.u23764_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23764.selected {
}
.u23764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u23765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23765 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:39px;
  width:60px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23765 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u23765_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23765.mouseDown {
}
.u23765_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u23765.selected {
}
.u23765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23760-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
}
#u23760-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:876px;
  height:61px;
}
#u23760-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:142px;
  width:876px;
  height:61px;
}
#u23760-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:876px;
  height:61px;
}
#u23760-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:284px;
  width:876px;
  height:61px;
}
#u23760-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:355px;
  width:876px;
  height:61px;
}
#u23760-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:426px;
  width:876px;
  height:61px;
}
#u23760-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:497px;
  width:876px;
  height:61px;
}
#u23760-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:568px;
  width:876px;
  height:61px;
}
#u23760-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:639px;
  width:876px;
  height:61px;
}
#u23760-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:710px;
  width:876px;
  height:61px;
}
#u23760 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:118px;
  width:876px;
  height:771px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
