body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-78px;
  width:1228px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:1008px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20637 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:84px;
  width:1228px;
  height:1008px;
  display:flex;
}
#u20637 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:50px;
  background:inherit;
  background-color:rgba(232, 236, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20638 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:49px;
  width:1228px;
  height:50px;
  display:flex;
}
#u20638 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u20639 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:65px;
  width:780px;
  height:19px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u20639 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u20640 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u20640 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20640_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u20640.mouseOver {
}
#u20640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u20644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u20644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u20644 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 0px 210px;
  box-sizing:border-box;
  width:100%;
}
.u20644_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u20644.mouseOver {
}
.u20644_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:8px;
  -moz-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 1px rgba(153, 153, 153, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u20644.selected {
}
.u20644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u20645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:25px;
}
.u20645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:61px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:25px;
}
.u20645 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
.u20645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u20646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u20646 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:29px;
  width:142px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u20646 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
.u20646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u20647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u20647 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:39px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u20647 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u20647_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u20647.mouseDown {
}
.u20647_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u20647.selected {
}
.u20647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u20648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u20648 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:39px;
  width:60px;
  height:18px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u20648 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u20648_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u20648.mouseDown {
}
.u20648_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u20648.selected {
}
.u20648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20643-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
}
#u20643-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:876px;
  height:61px;
}
#u20643-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:142px;
  width:876px;
  height:61px;
}
#u20643-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:876px;
  height:61px;
}
#u20643-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:284px;
  width:876px;
  height:61px;
}
#u20643-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:355px;
  width:876px;
  height:61px;
}
#u20643-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:426px;
  width:876px;
  height:61px;
}
#u20643-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:497px;
  width:876px;
  height:61px;
}
#u20643-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:568px;
  width:876px;
  height:61px;
}
#u20643-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:639px;
  width:876px;
  height:61px;
}
#u20643-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:710px;
  width:876px;
  height:61px;
}
#u20643 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:118px;
  width:876px;
  height:771px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
